[2020-05-24 19:11] #241 closed

[2020-05-24 19:17] twa127 commented on #241
Hi

The only pre-requisite for the gpio python 3 change is 'blinka' but I thought that is already installed on the RPi. The other change is the code itself and the change to crontab

[2020-05-26 01:59] dvdcut commented on #223
here is extracted file, but I also realise most of the custom code is in sb-admin-2.css, and we don't need to extract everything, may be few parts need to be brought in from bootstrap.min.css.
@sandreialexandru can you test this?

[default.zip](https://github.com/pihome-shc/pihome/files/4679494/default.zip)

[2020-05-26 04:39] sandreialexandru commented on #223
Yes, I can. I will test your version and give you my feedback. I have been working on an "extraction" myself.

[2020-05-26 07:52] harvybob commented on #240
Not sure - the error i guess is not having a status - which only happens when using boost..

[2020-05-26 11:04] pihome-shc commented on #240
@harvybob it only happens when you boost one zone and rest of the zone stay normal? can you do some testing and run boiler.php and send all output.

[2020-05-26 14:57] scottagecheeseandcrackers commented on #193
@twa127 - fantastic work on the homebridge implementation. I just updated to the latest release and have just tested homebridge - no issues - all aspects running great. All zones & Boost switches showing in Homebridge without issue.

I have installed the "homebridge-gsh" google home plugin and have tested this via the google home app. Unfortunately the homebridge google home plugin does not suppor

[2020-05-26 16:38] twa127 commented on #193
Hi,

I'm guessing that "homebridge-gsh" is pulling the switch data from the webhooks directory, which in turn is updated by boiler.php. I did look at the webhooks thermostat implementation but decided it did not really fit the PiHome model, I will try and come up with something which implements of an 'imperfect'  version of the thermostat that you can try

[2020-05-26 17:04] twa127 commented on #193
Hi,

I'll try and get my head around this :-)

[2020-05-26 19:41] scottagecheeseandcrackers commented on #241
Not sure if this is a bug, but I got an error on 'git pull origin' on the latest release (1.75)

"Error: your local changes to the following files would be overwritten by merge - cron/find_mygw/ping.pyc ".

This was solved with a manual rename of the file.

[2020-05-27 06:27] twa127 commented on #241
Hi

Not a bug, the .pyc is created at run time so decided not to include it in the src distribution

[2020-05-27 13:37] sandreialexandru commented on #223
@dvdcut  I'm sorry but your version does not work
This is how it looks:
![pihome](https://user-images.githubusercontent.com/45868553/83025643-b6dfff00-a037-11ea-9138-f6c7c6502a1c.png)

I'm trying to browse through the site and use the "inspector" to select all the used css code, but it is a lot to do. I have to be careful at repeating elements.

[2020-05-27 15:57] dvdcut commented on #223
i left all the other css in place and added mine at the end.

[2020-05-27 15:58] dvdcut commented on #241
i had the same issue. is there a way that we can ignore these files when we do  **git pull origin**

[2020-05-27 17:43] twa127 commented on #241
Hi,

Wont this be a one time issue, now that your local image has no .pyc and the src has no .pyc ?

[2020-05-27 21:12] pihome-shc commented on #242
@dvdcut i will do some testing later and suggest the update.

[2020-05-27 23:11] pihome-shc commented on #242
@dvdcut,
if zone temperature sensors do not send reading for while and db_cleanup.php remove 3 days old value from the point db_cleanup.php run.
[code]
i this issue is caused by interval between db_cleanup.php and value being 24h older. hence still shows in zone but boiler.php kick start zone as frost protection.

as far as frost protection disable goes that should do as well. if value is set to 0

[2020-05-27 23:29] pihome-shc commented on #242
another option would be to change db_cleanup.php crontab to 10 0 * * * from 0 2 * * * or even run job once every 1 hour.

[2020-05-27 23:35] pihome-shc commented on #166
@dvdcut is there any reason you want to have two zone and boiler record in database?

[2020-05-29 13:46] dvdcut commented on #242
if that is the case then fix is easy, why not remove old values more frequently ?

[2020-05-29 14:03] dvdcut commented on #223
@sandreialexandru i did the same thing, but i also noticed that most of the customization is in sb-admin-2.css

[2020-05-29 15:18] dvdcut commented on #221
i think this Electrical Immersion Control act as zone but independent and can not call for heat from boiler and how to achieve this is simple then i thought.
Some modicication is needed on Add Zone section with some java/ajax so if user select Zone type Electrical Immersion then it hid boiler field.

**boiler.php**
[add on Line 172 	](https://github.com/pihome-shc/pihome/blob/1b887a019e1d411b90961

[2020-05-29 18:45] pihome-shc commented on #242
@dvdcut yes it would best to run cleanup cronjob more frequently, may be run it once every hour. i m going to change this in PiHome image as well.

[2020-05-29 18:56] pihome-shc commented on #221
@dvdcut good thinking, i tested this change with my live system and it worked ok, now need to test this with dummy immersion zone also creating it as zone automatically gives option to have it in schedule so user can schedule electrical immersion.

One small issue though: the way zone is created it refer to boiler in its record, i know that record isnt used anywhere, may be time to remove that rec

[2020-06-02 16:17] dvdcut opened #244 "Battery voltage graph"
battery voltage and batter level graphs under the exiting graph.

ps: i m already working on this o i will have it ready by tomorrow.

[2020-06-02 23:51] pihome-shc commented on #221
you have added options in graph for immersion but it is not going to make any difference as zone and boiler logs are recorded after boiler is triggered.

[2020-06-03 00:00] pihome-shc commented on #244
i have 3 zone heating and temperature sensors only report battery if there is change in value, and db_cleanup.php removes values older then 3 months and after this i have 102197 records of battery records for past 3 months that is around 34,065 per temperature sensors. adding these many values to graph will make it very slow and specially on systems running on sd card or somehow  squeeze 102197 nu

[2020-06-03 00:02] pihome-shc commented on #242
closing this issue now, text is already added in frost protection model and clean-up job will be added once every hour in next img file for raspberry pi.

[2020-06-03 00:02] #242 closed

[2020-06-03 00:31] pihome-shc commented on #221
zone.php need some modification for immersion option

[2020-06-03 08:45] dvdcut commented on #244
following query gives me 25737 results (numbers are little lower then yours)
[code]
after magic 😃 following query squeeze 25737 into 1301 records
[code]

[2020-06-03 08:51] dvdcut commented on #221
yes, i realize that as well after modifying chartfooter.php may be in future some one can suggest better way or recording zone records.

i made some changes in zone.php with following addition to zone type as Immersion in zone table.
`<option><?php echo $lang['zone_type_electrical_immersion']; ?></option>`

[2020-06-03 18:17] pihome-shc commented on #244
@dvdcut that looks lot better.

[2020-06-04 22:55] pihome-shc commented on #244
@dvdcut good work on #246, for future reference: may be add option to enable/disable graph

[2020-06-04 23:10] pihome-shc commented on #244
update:
i just updated my live system that runs on rpi 3 with very slow sd card and i wasn't expecting it to load in good time but it worked well.

[2020-06-05 22:37] pihome-shc commented on #221
any further update or discussion required on this?

[2020-06-06 10:56] dvdcut commented on #223
@sandreialexandru, did you made any progress? do you need any hlep?

[2020-06-06 10:56] dvdcut commented on #244
no further updates required. i m closing this issue.

[2020-06-06 10:56] #244 closed

[2020-06-06 11:03] dvdcut commented on #221
i think no further discussion required for Electrical immersion controller, i'll open another issue for general discussion for other Add-On. like @twa127 experimenting with light switch i m thinking to implement kitchen exhaust fan. i'll this to @pihome-shc to close this issue you are happy.

[2020-06-06 11:18] dvdcut opened #247 "Add-On"
Discuss how we can implement Add-on in pihome,
How these Add-on can co-exist with other heating zone in pihome, we have schedule system that we can leverage in our favor i.e we can split schedules for add-ons and for heating with very minimum effort in exiting code. also if you can share your list of add-on you want to implement here.
Kitchen Exhaust Fan with speed control
Garden Light
Night Light

[2020-06-06 11:20] dvdcut commented on #166
when i was installing my dev system from github i had some issues, may be adding boiler and one zone will make few things out of the box work and make it more plug and play type

[2020-06-06 13:19] pihome-shc commented on #247
I don’t know how you can control speed of kitchen exhaust fan, maybe you have one that come with variable speed.I would be happy if i had control over on/off, I prefer to turn it on just before the morning heating start.
My garden light have sensor so they are not on all the time :)

[2020-06-06 14:10] pihome-shc commented on #221
closing issue

[2020-06-06 14:10] #221 closed

[2020-06-06 14:15] pihome-shc commented on #166
@twa127 did great job on clean-up work on database, i know it is confusing as documentation is missing for fresh install, specially if some one is trying to install from scratch.

adding boiler record wouldn't hurt but it has to added from [setup.php](https://github.com/pihome-shc/pihome/blob/master/setup.php) and [setup_db.php](https://github.com/pihome-shc/pihome/blob/master/MySQL_Database/setup

[2020-06-06 14:17] pihome-shc commented on #240
@harvybob can we close this issue? or any update?

[2020-06-06 14:19] pihome-shc commented on #222
@twa127 Any more work needed for python 3 or can this issue be closed?

[2020-06-06 14:24] pihome-shc commented on #48
@dvdcut i had implemented this for myself from PiHome email address and it worked ok, but most of the ISPs block sending email to prevent spam. i m not sure if this can be progressed any further, i have plans to implement this through PiConnect once new version become available.

[2020-06-06 14:27] pihome-shc commented on #49
@dvdcut  / @aszumski any thoughts on this?

[2020-06-06 16:16] twa127 commented on #222
Hi

I think it’s safe to close

Sent from my iPhone

[2020-06-06 16:51] #222 closed

[2020-06-07 12:58] twa127 opened #248 "Multi Zone Relay Module"
I have been looking at the existing i2c relay code, with the aim of bringing it in-line with the GPIO relay code. This has made me realize that the existing i2c solution is hardware specific, the code is tailored for the ByVac  BV4627 relay module and it appears that ByVac no longer trade, hence it's a bit of a dead-end.
Their do not appear to be many alternatives available and any i2c module with

[2020-06-07 14:16] twa127 commented on #240
Just for info - i2c_relay.py expects 3 parameters in order to drive the BV4627, the first is the i2c address of the board (default is 32 decimal, I guess if you had 2 boards, you would change the address of the second board to 33 decimal), the second parameter is the relay number of the board (1 to 8) and the final parameter is the relay state (0 = off, 1 = on). The code requires all 3 parameters

[2020-06-08 08:09] harvybob commented on #240
Hi twa127, The issue is that the status is unknown, not sure why but i cant get it to happen again at the moment (maybe because weather is hotter and already over the max set...

I have the boards set with different id's etc and that is all working.

[2020-06-08 08:15] harvybob commented on #248
Hi @twa127. I think I'm the only one using i2c at the moment - and im the only one with the ByVac boards!

ByVac has indeed stopped trading, DCS Electronics has taken over the hardware and will be looking to manufacture these in the future, however they did not get the licence for software so not sure where that leaves the support for these going forward.

With regards to the i2cRelay file, will i

[2020-06-08 08:22] twa127 commented on #248
Hi

Yes should work exactly the same way

Sent from my iPhone

[2020-06-08 08:24] harvybob commented on #248
Just downloading micropython as that is a dependency I do not have installed at the moment...

[2020-06-08 08:38] harvybob commented on #248
Having problems with micropython -

I downloaded the latest one - 1.12

untar'ed it.
cd mpy-cross
make

let it complete then tried to run the i2c script and got the following:

[code]

[2020-06-08 12:15] dvdcut commented on #48
@pihome-shc i agree with you,  i have same issues with sending email, this can not be progressed further as every one will have same issues. closing this issue.

[2020-06-08 12:15] #48 closed

[2020-06-09 08:07] twa127 commented on #248
ok I'll come up with a version without micropython

[2020-06-09 10:18] aszumski commented on #49
@pihome-shc I will have look at improving this.
Just resynced my pihome  code with the master.
I don't have dev system, and was not allowed to go near the system during heating season :)

[2020-06-09 14:00] twa127 commented on #247
Hi,

Been playing with the lamp switch, it is simply a mains powered relay, so could just as easily be used to control an extractor fan.

![lamp4](https://user-images.githubusercontent.com/46624596/84155928-d415c400-aa60-11ea-96c6-345aad736f55.jpg)

The switch has been added as a zone without any sensors and no boiler, it can be toggled from the home screen and scheduled in the usual way. I'm proc

[2020-06-09 14:07] twa127 commented on #247
Example boiler.php output

![lamp5](https://user-images.githubusercontent.com/46624596/84157721-f90b3680-aa62-11ea-8edc-835ee2a18c82.JPG)

[2020-06-09 14:36] twa127 commented on #248
version with no micropython

[i2cRelay.zip](https://github.com/pihome-shc/pihome/files/4752761/i2cRelay.zip)

[2020-06-09 14:36] dvdcut commented on #247
@twa127 very impressive work, not only zone.php need some modification but schedule related code as well so we dont get temperature bar but only on/off
did you modify your zone table structure as well?

[2020-06-09 14:44] twa127 commented on #247
No I left the zone table as it was and processed the records in boiler.php based on the zone type, true about the schedule.php

[2020-06-09 15:41] twa127 commented on #247
Anybody got any thoughts on zone types, so far we have Heating, Water, Immersion and Lamp. Do we want to keep adding to the list or come up with some grouping for the add-ons eg 'Add-On' (lamp, fan, Immersion, Switch) and 'Add-On with Sensor' (electric heater, Immersion with temp cut off) ?

[2020-06-09 17:06] dvdcut commented on #247
are we going to give icon based on type?

[2020-06-09 17:10] twa127 commented on #247
if we did then type could not be a group, ie it would have to be Lamp, Immersion etc. If type is a group then icon could be based on the zone name

[2020-06-09 17:42] twa127 commented on #247
Perhaps best to carry on using type as we already have Immersion, I could add Lamp, Fan and Switch as a start

[2020-06-09 17:49] pihome-shc commented on #247
@twa127 User can have name based on room name or so on, i suggest have type as icon representation, how many icons homekit have? or any other home automation? light, fan, blinds, switch etc or may be we can have icon column in zone ?
https://www.reddit.com/r/HomeKit/comments/7k1oxg/does_anyone_have_a_screenshot_of_switch_icon_on/
https://www.reddit.com/r/HomeKit/comments/9l4m6t/complete_list_of_ho

[2020-06-09 17:58] pihome-shc commented on #247
@twa127 yes, agree, i think we better carry on using type and if needed this can be amended,

[2020-06-09 18:02] dvdcut commented on #247
i think its best to carry on using type. did you made that pcb yourself?

[2020-06-09 18:05] pihome-shc commented on #49
@aszumski thank you, i tried making changes but failed to cover all aspect.

[2020-06-09 18:09] twa127 commented on #247
No the pcb is not my work https://www.openhardware.io/view/77/AC-DC-double-solid-state-relay-module

I'll give the icons some thought :-)

Immersion Heater is a bit of a different type of add-on as it is very like the other zones and I would have thought the tile should look the same as the others and display the temperature as normal. In my current implantation of homelist.php,  the binary add-on

[2020-06-10 08:24] harvybob commented on #248
Had to install some additional software:
sudo apt-get install python3-pip
sudo pip3 install adafruit-circuitpython-busdevice

Once that was installed, the new i2c code works fine as follows:
to switch on relay A (10) on board 32:
'python3 i2cRelay.py 32 10 1

to switch off relay A (10) on board 32:
'python3 i2cRelay.py 32 10 0

I switched each on board 32 and 33 without problems
And i also learnt

[2020-06-10 12:51] dvdcut opened #250 "MQTT - internal or external server"
i was thinking to switch to MQTT gateway and after fiddling through the settings and i found old pull request https://github.com/pihome-shc/pihome/pull/23 by @paulcsf but this only read temperature from Sonoff with tasmoto sketch.

i think implementing full support MQTT will add lots of devices in compatible list
https://esphome.io/
what every one else think about this? how this can be implemented

[2020-06-10 22:47] pihome-shc commented on #247
i take my comments back, i didn't read the title of your pull request, :(

[2020-06-10 23:05] pihome-shc commented on #250
Yes it is certainly interesting topic, agree with @scottagecheeseandcrackers, implementing full MQTT will open lots of door and add unlimited number of devices to compatibility list, current python [gateway.py](https://github.com/pihome-shc/pihome/blob/master/cron/gateway.py) only support mysensors serial and network gateway.
my knowledge of MQTT is very very limited all i know its pub/sub system

[2020-06-10 23:11] pihome-shc commented on #247
@twa127 if i remove Heating, Water, Immersion from zone_type i dont get option for them while creating creating zone. i think my ^^ comment is valid and requires default types added or alternately zone.php need modification

[2020-06-11 07:17] twa127 commented on #247
Hi,

The idea was that you create the zone type before you add the zone. I was trying to get to a situation where add-ons can be created without the need to change the code each time. I agree that perhaps defaults should be created for Heating and Hot Water, not sure about Immersion as this is an optional add-on.

I'm thinking about the idea of grouping zone types again so that the logic of boiler

[2020-06-11 11:37] twa127 commented on #247
I've now updated to process boiler.php based on zone type categories 0, 1 or 2, so should work for Immersion Heater and binary device (lamp, fan, switch etc)

[2020-06-11 13:50] aszumski commented on #49
@pihome-shc
I've made changes and it seems to work OK but I would like someone else to run some tests because there is lots of changes specially in homelist.
Everyone is welcome to test it and come back with issues.
I've created zone_mode variable that is passed to memory SQL table along with zone alarm flags etc. so zone displayed status always matches actual.
Currently there are only 2 SQL queri

[2020-06-11 14:18] dvdcut commented on #49
@aszumski i did test on my system after creating table i can see it is gettin populated but homelist.php have no changes, may be you attached the old one.

[2020-06-11 16:12] aszumski commented on #49
@dvdcut
Attached wrong one, updated file below:

[For review.zip](https://github.com/pihome-shc/pihome/files/4765964/For.review.zip)

Found small issue already. if zone is not enabled it will not update temperature reading as boiler.php only processes enabled zones. Fixed in the attached file (added back query for getting temperature reading in homelist).

[2020-06-11 17:34] dvdcut commented on #49
Zone Main Mode
0 - idle
10 - fault
20 - frost
30 - over temperature
40 - holiday
50 - night-climate
60 - boost
70 - override
80 - scheduled
90 - away
100 - hysteresis

Code 100 works as expected,
schedule: set zone temperature 20, current zone temperature 19.5
when schedule is enabled for one zone and not for other zones it set the code to 40 for all zone where schedule is disabled. whereas it sho

[2020-06-11 18:40] pihome-shc commented on #247
@twa127 after #253, i added heating and water and Fan but when i try to create zone for Fan it still ask for temperature sensor and all heating related inputs.

[2020-06-11 19:19] twa127 commented on #247
Still working on that and the scheduling :-)

[2020-06-11 19:36] twa127 commented on #247
Committed the change to suppress temperature sliders for Category 2 zone types in scheduling. Will work on zone.php tomorrow

[2020-06-11 20:37] pihome-shc commented on #247
@twa127 great work, noticed one thing, if i create schedule only for lamp it shows temperature

[2020-06-11 20:44] dvdcut commented on #247
may i suggest idea on schedule? what if we display schedules in two categories ? same we have used for graph and settings. Backend can be same but divide frontend for better experience.

[2020-06-11 20:55] dvdcut commented on #250
starting point is always difficult, i m going to build myself mqtt gateway tomorrow and i will do some experiments, right now i have no idea what to expect, mqtt is between gateway and pihome or sensors need new sketch as well? but for other devices i think they will communicate directly without mysensors gateway but thats all assumptions.

[2020-06-11 21:03] twa127 commented on #247
@pihome-shc did you update the views?

[2020-06-11 21:20] pihome-shc commented on #247
I think i did this with updatedb.php but didn’t check it, let me check this

[2020-06-11 21:23] twa127 commented on #247
@dvdcut  might get a bit messy as now Scheduling selected from the header toolbar, also I think Immersion is very like the other schedules, only difference is no boiler trigger, The binary add-on are different, so perhaps should be separated out. Once I've got zone.php I'll deploy on my live system with a Lamp add-on and see how it all hangs together :-)

[2020-06-11 21:27] pihome-shc commented on #247
@twa127, i was referring to temperature in circle in schedule list.

![image](https://user-images.githubusercontent.com/33334232/84440823-95cffe80-ac32-11ea-824a-c56f3624aa4e.png)

[2020-06-11 21:29] pihome-shc commented on #247
@dvdcut, having icon on header for non heating isn't good option (i think). may be under schedules we can pills to aggregate heating and binary switch schedule. but again lets wait for final results of @twa127 work.

[2020-06-11 23:16] aszumski commented on #49
@dvdcut
You are too fast :)
You need to give time for boiler.php to execute,
First case tested and it had different bug, status of  zones that are disabled within schedule actually changed to holidays because of existing bug in boiler code:
[code]
replaced with
[code]
isset() gives 0 if value is null, and holidays_id is 0 for non holidays schedules so check returned always true.

For second case l

[2020-06-11 23:35] scottagecheeseandcrackers commented on #250
I'm no more than a novice who's watched a few youtube vids on mqtt...so dont quote me on this...but I expected this to be completely independent of the gateway.

My understanding is...A temp sensor would subscribe to a particular temp sensor mqtt topic and publish data at a frequency determined by that sensor. I would imagine most people would run their mqtt server on their pihome. Pihome subscrib

[2020-06-12 07:46] twa127 commented on #247
@pihome-shc ah I know what you mean about the temperature indication for non-sensor zones, its on my list of things to fix :-)

[2020-06-12 10:26] twa127 commented on #247
How about this
![lamp6](https://user-images.githubusercontent.com/46624596/84493343-820eb180-ac9f-11ea-9dff-e820924fd408.JPG)

[2020-06-12 11:41] pihome-shc commented on #247
@twa127 that looks good,

[2020-06-12 11:49] pihome-shc commented on #49
@aszumski so far very good, i can see blue dot but no green leaf

![image](https://user-images.githubusercontent.com/33334232/84499587-d10e1400-acaa-11ea-81cc-74b3b18bc8f8.png)

Here is mysql table.
![image](https://user-images.githubusercontent.com/33334232/84499744-10d4fb80-acab-11ea-8b3e-148bca063ba1.png)

[2020-06-12 13:02] twa127 commented on #247
Yes a bug it displaying the water temp, I'll work on it

[2020-06-12 13:45] twa127 commented on #247
Hi,

I'm a bit confused, in my screen shot all the schedules except Lamp include the Hot Water zone and the temp in the left hand circle is the max temp for the schedule which is the water temp. Reverted the view back to the old version and still gives the same result

[2020-06-12 13:47] aszumski commented on #49
@pihome-shc to get green leaf you need to be below cut in temperature -coop start waiting for boiler start, when between cut in and cut out it shows standard schedule icon (and indicator is red or blueinfo dependent on zone active or not), but it's up for discussion what icons/colours we want to use

[2020-06-12 13:57] aszumski commented on #49
I did it with indicator colour rather then icon cause you can be within deadband in schedule, night climate, boost, override and frost protection. You still want to see what mode is running when you are within deadband (between cut in and cut out).

[2020-06-12 15:49] pihome-shc commented on #247
@twa127 update my dev version and all looks ok, it does show highest temperate, only is in that schedule it shows blank  which we are expecting.

[2020-06-13 08:13] twa127 commented on #247
work in progress, fields hidden depending on zone category, still working on table updates

[zone.zip](https://github.com/pihome-shc/pihome/files/4774279/zone.zip)

[2020-06-13 10:19] pihome-shc opened #258 "Delete Nodes/Sensors from Settings"
Add option to delete nodes, sensors under settings->nodes and sensors.

[2020-06-13 10:29] pihome-shc commented on #247
@twa127 after #257 i have this error missing space in after where

[code]

[2020-06-13 10:34] pihome-shc commented on #49
@aszumski got your point and understood, good thinking on leaving icon (schedule, night climate, boost, override and frost protection), but i think change the colour from blue to green would be good option, as red is only when zone is calling for heat.

[2020-06-13 10:35] pihome-shc commented on #49
@aszumski can you do pull request so it get included and i can do testing on one customer system he got 12 zones and would be good test.

[2020-06-13 10:44] pihome-shc commented on #247
@twa127 this looks good, i think some cleanup work needed. but actual gui does what is suppose to do, tested with lamp, immersion, heating, water and fan.

Fan/Lamp errors:
Zone Record Addition Failed:
Field 'sync' doesn't have a default value
Field 'sync' doesn't have a default value

Heating:
Zone Record Addition Failed:
Field 'sync' doesn't have a default value
Field 'sync' doesn't have a defau

[2020-06-13 11:11] twa127 commented on #247
fixed the sql missing carriage return :-(

[2020-06-13 11:18] twa127 commented on #247
zone.php - for cat1 zones (sensor/no boiler) plan to add to tables as for cat0 but no boiler records
for cat2 plan to add boost, holidays, away, no sensors, no night climate, no boiler related records. The new version of zone_view will work where the sensor_id is NULL

[2020-06-13 11:24] pihome-shc commented on #247
i think my last test failed because Field 'sync' doesn't have a default value

[2020-06-13 13:45] twa127 commented on #247
Question - for Immersion type would we want -

Maximum Temperature
Maximum Operation Time
Hysteresis Time
Temperature Setpoint Deadband

[2020-06-13 14:59] pihome-shc commented on #247
@twa127 yes, if possible.

[2020-06-14 12:02] twa127 commented on #247
update zone.php attached, needs sp_deadband database change

[zone.zip](https://github.com/pihome-shc/pihome/files/4776361/zone.zip)

[2020-06-14 13:00] twa127 commented on #247
Now able to schedule lamp on/off dependent on away and holidays, also got it working with voice control, so can switch on or off without getting out of the chair :-)

[2020-06-14 23:08] pihome-shc commented on #247
@twa127 from zone table we can drop boiler column as it has no function and not in use, is it possible to set value 0 instead of null for other column?

[2020-06-14 23:16] pihome-shc commented on #247
after creating test zone for lamp i still get 0.0 temperature

[2020-06-15 07:23] twa127 commented on #247
the reason for the 0.0 temperature is that I've not committed the update to homelist.php

I'll check if I can make sp_deadband 0

[2020-06-15 08:21] twa127 commented on #247
I had initially thought of using BOOST to trigger these devices, but after getting the lamp operational with voice control, I found it was irritating to have to wait for up to a minute for boiler.php to cycle and switch it on. So now decided to write directly to messages_out and zone tables, this is much better BUT then worried as there is no fail-safe to turn off after some period. I'm thinking o

[2020-06-15 11:01] pihome-shc commented on #247
i agree, we better leave boost function for heating related zone. all other zone should update send message_out but at the same time we have to set active switch in zone for boiler.php to process every minut as well just in case if first communication is missed so it trigger in second attempt and same goes for off state so you dont have worry about max operation time.
for logging i agree another t

[2020-06-15 11:02] pihome-shc commented on #247
apart from schedules how lamp/fan etc. can be triggered? from home screen with single tap?

[2020-06-15 11:12] pihome-shc commented on #247
just updated my dev. and looks nice, but one strange thing all my zone are going in frost protection mode. i.e showing 0.0 temperature.

[2020-06-15 13:15] twa127 commented on #247
Are your sensor nodes active?

[2020-06-15 13:32] pihome-shc commented on #247
Yes,

![image](https://user-images.githubusercontent.com/33334232/84663300-df5f6880-af14-11ea-82d2-6d8b84328130.png)

[2020-06-15 13:34] pihome-shc commented on #247
here is boiler.php results, it looks like homelist.php missing something.
[code]

[2020-06-15 13:34] twa127 commented on #247
okay I'll try and create the issue on my dev system

[2020-06-15 13:42] twa127 commented on #247
Attached copy of my homelist.php

[homelist.zip](https://github.com/pihome-shc/pihome/files/4780577/homelist.zip)

[2020-06-15 13:45] twa127 commented on #247
I'm running with a Cat2 zone and you are using a Cat1 (Immersion), I'll swap my setup over to match yours

[2020-06-15 14:54] twa127 commented on #247
now setup with central heating and immersion zones, getting temperatures okay

[2020-06-15 14:59] pihome-shc commented on #247
My all code is from github and db updates as well, what is missing in my side?

[2020-06-15 15:15] twa127 commented on #247
Lamp/Fan can be toggled on/off from home screen or voice control on or off and scheduled.

The reason for max operating time idea is for if you switch on manually and for some reason are not available to switch off.

The only things not committed are zone.php and homelist.php which I attached above. Do have some mods for boiler.php but they mainly relate to logging.

Are you still having problems

[2020-06-15 15:20] pihome-shc commented on #247
I m away for another 50ish minuets, i will do one more test with your last attached files.

[2020-06-15 17:22] twa127 commented on #247
Hopefully this fixes it
[homelist.zip](https://github.com/pihome-shc/pihome/files/4781884/homelist.zip)

[2020-06-15 20:13] pihome-shc commented on #247
@twa127 your latest homelist.php worked great.

[2020-06-15 20:34] pihome-shc opened #263 "Circulation Pump Overrun"
This issue was raised previously via email to me and i did this quick dirty trick in boiler.php to accommodate over run for circulation pump/boiler pump. i have same issue in my place but i have this i think its called loop. here is update form user:

Hello.
I have a fully wired setup.
I have updated your zone (pump) overrun code in boiler.php for the new version, as follows:-
insert after line 58

[2020-06-16 12:19] twa127 commented on #247
@pihome-shc  are you sure about dropping boiler_id column from zone table, zone.php is using it?

[2020-06-16 12:29] pihome-shc commented on #247
@twa127,
Yes we can safely drop this but we need modifications in zone.php file and in zone view table. Dropping this column wouldn’t effect function of system.

[2020-06-16 12:36] twa127 commented on #247
okay I'll modify zone.php

[2020-06-16 17:15] aszumski commented on #263
@pihome-shc  basically you want to delay valve close.
It would be easy enough to delay it by one boiler.php run after implementing changes for zone status.

change standard relay command:
`		if ($zone_controller_type == 'GPIO'){
			$relay_status = ($zone_status == '1') ? $relay_on : $relay_off;`

with

`		if ($zone_controller_type == 'GPIO'){
			$relay_status = (($zone_status == '1')||($zone_statu

[2020-06-16 20:42] pihome-shc commented on #49
something is wrong with mysql table creation code. here is the output from update_db.php
[code]

[2020-06-16 21:19] pihome-shc commented on #247
@twa127
i m having this issue on database update

[code]

[2020-06-16 21:54] twa127 commented on #247
I did it manually and deleted the constraint on the boiler table

[2020-06-16 22:05] pihome-shc commented on #247
no worries, i will remove this from next img file,

[2020-06-16 22:06] twa127 commented on #247
okay great

[2020-06-16 23:48] aszumski commented on #49
Created new pull request with the fix, not sure what was the cause,
@pihome-shc  is there a reason why we pull sql config file from github instead of using local one when we run update script?
Script has to be modified to test the changes locally.

[2020-06-16 23:49] pihome-shc commented on #49
@aszumski thank you for fixing this. i will do some testing now and let you know if any further issues.

[2020-06-16 23:57] pihome-shc commented on #49
re: update script, @aszumski that is valid point, i don't remember why GitHub was selected as source for comparison, may be @twa127 can shed some light on this. if someone didnt update (git pull origin) from github source then updating database from GitHub may break their system.

[2020-06-17 06:25] twa127 commented on #49
As I remember :-) the idea was that the update script could be run to ensure that the database format is updated without corrupting the existing system data where the github version is the current image

[2020-06-17 10:54] dvdcut commented on #247
that is some progress,

[2020-06-17 19:29] pihome-shc commented on #49
i think updating software part is still pretty much manual process ie. cd /var/www/ and then git pull origin and so far it this process is working fine.

[2020-06-17 19:31] pihome-shc commented on #247
@twa127 works great, schedule logs gets recorded but when i turn on lamp from main screen it does not get recorded in logs.

[2020-06-17 20:35] twa127 commented on #247
Yep working on it -:)

Sent from my iPhone

[2020-06-17 21:08] pihome-shc opened #269 "Changing Charts time axis from UTC to local time"
I note that the time axis of all the charts shows up in UTC time. This is not a big issues for you based near Dublin as for six months of the year you are on UTC and the other 6 months just one hour difference. Here in France we are two hours different and it is noticeable.

I have made the following changes to correct this and show the time axis in local time.

update chartfooter.php line 109 fro

[2020-06-17 21:25] pihome-shc commented on #269
can any one in different time zone test this please.

[2020-06-18 10:20] dvdcut commented on #263
I have radiator next to the boiler and i have to leave it one (not fully on) so when all zone valve are closed boiler still need to circulate water for extra 20ish seconds its waste of energy as it just need to stay on all the time, that is my overrun, can we add this code in for everyone ? not just gpio connection?

@aszumski moving $query = "UPDATE zone_current_state SET after if ($zone_controll

[2020-06-18 11:06] twa127 commented on #247
I think this is should now work okay, also fixed the status icon usage for add-on zones, still need to do something about the tile icon dependent on the zone name, anyone got any ideas on an icon set to use?

[2020-06-18 11:31] aszumski commented on #263
@dvdcut  you are right moving UPDATE zone_current_state wont change anything.
as we already pulled value of $zone_status_prev at the start of the loop.

To do it properly (keep the valves that ware open just before boiler stop, and close it straightaway when you shut zone but boiler keeps running ), we really need separate loop for zone commands and adjustable time in boiler settings, for example

[2020-06-18 15:02] dvdcut commented on #263
@aszumski yes adding option to boiler for user to have this overrun would be great

[2020-06-18 17:54] pihome-shc commented on #258
@dvdcut looks good, that disable button for used sensor is good thought. any further update on this?

[2020-06-18 21:50] pihome-shc commented on #247
there are other opensource icon packs that can be used/integrated, also we are using font-awesome-4.7.0 version 6 is latest and ionicons-2.0.1 and 5 is latest both fonts have more and more icons available may be its time to update these fonts.

[2020-06-19 09:16] dvdcut commented on #258
@pihome-shc all done, you can close this issue.

[2020-06-19 15:08] aszumski commented on #247
There are two minor issues I've spotted.

First:
Category one zones are always graphed (no option to turn it off, and they are always on hot water graph).
In my case I have ensuite zone valve it doesn't have it's own sensor but uses room sensor,
I  run it with the same schedule as the room, but don't want it to try to heat the room with the ensuite radiator if I get something wrong in schedule so

[2020-06-19 16:29] dvdcut commented on #247
@aszumski tested your issue,
immersion zone is always graphed and no way to turn it off.  here is the query in model.php
this need modification, but i have question here. should we connect zone to category rather then category name?  i.e 0, 1, 2 this way no mater what user enter as name we'll have better control over this.
`$query = "select * from zone_view where type = 'Heating' order by index_id

[2020-06-19 17:27] twa127 commented on #247
Hi,

First though - I think zone table still needs a reference to 'type' rather than 'category' and the view does currently have both

[2020-06-19 17:42] twa127 commented on #247
I'll work on getting the zone type correct

[2020-06-19 17:42] pihome-shc commented on #247
model.php query is already on zone_view may be best to change this to category 0 and 1, this way you get option for all type of zone depended on temperature but open to suggestion.

[2020-06-19 17:58] twa127 commented on #247
Committed a fix for zone type

[2020-06-19 18:08] twa127 commented on #247
how would Immersion work, I'm guessing that it would use the same temperature sensor as Hot Water, so would not need an extra graph, same for most cat1 devices. Also as cat2 are binary devices, they probably would not need a graph.

[2020-06-19 18:15] pihome-shc commented on #247
@twa127 you are right, immersions would be same temperature sensor hot water,

[2020-06-20 08:53] twa127 commented on #247
what do you think about having a separate add_on_zone_log table for cat1 and cat2 zones?

[2020-06-20 09:39] dvdcut commented on #258
added option to delete wired sensors.

[2020-06-20 09:48] dvdcut commented on #247
@twa127 my vote definitely separate log table for cat1-cat2, but somehow if we can identify them for graph purpose.

[2020-06-20 09:50] pihome-shc commented on #247
@twa127
I think separate table is the way to go.

[2020-06-20 12:51] twa127 commented on #247
okay separate table it is :-) I'll work on graph options

[2020-06-20 13:58] aszumski commented on #247
I was trunking about graph options.
Currently it's all hardcoded based on Zone type.

Could we have graph-it in Zone tablet as  integer not bool. And then we can select default based on zone type, but you can modify it on graph settings screen. 0 don't display, 1 graph 1, 2 graph 2 etc.
We ould put in more graphs on graph screen, but display others only if any zone has that graph selected.
Thinkin

[2020-06-20 14:32] twa127 commented on #247
sounds interesting, I'll put a quick fix in model to allow cat1 devices to display in list

[2020-06-20 15:22] pihome-shc commented on #263
@aszumski tested this update and it is working as expected.

[2020-06-21 17:59] twa127 opened #283 "Performance Issue"
Hi,

Has anyone else noticed that homelist.php seems to have taken a massive performance hit over the last few days?

I think the problem is that we have swapped from using the mesages_in table to using messages_in_view_24h, if you agree I'll change homelist.php back to using the table

[2020-06-21 18:23] pihome-shc commented on #283
Can we measure load time? I know moving to table view would definitely make it fast as it’s only going through last 24h data.

[2020-06-21 18:33] twa127 commented on #283
on my system with 24865 records in the table - browse messages_in took 0.01s and browse messages_in_view_24h took 1.01s

[2020-06-21 18:48] pihome-shc commented on #283
here are the results from my system running on slow SD card, rpi 512mb ram.
[code]
raspberry pi 3 b+ on ssd disk 1gm ram,
[code]

[2020-06-21 18:51] pihome-shc commented on #283
here is from one customer with 16 zone with lot more records.
[code]

[2020-06-21 18:52] pihome-shc commented on #283
@twa127 how are you measuring your data. just query or one gui?

[2020-06-21 18:53] twa127 commented on #283
so it looks like using the view is not the thing to do and we should swap back to reading the table

[2020-06-21 18:56] twa127 commented on #283
just browsing the table/view using phpmyadmin

In practice opening the homelist screen is very very slow using the new version of homelist.php, replacing the view with the table restored the system back to its previous performance level

[2020-06-21 19:15] aszumski commented on #283
Actually the temperature for active zones is available in zone_current_state table that we query anyway.
I've put in reading temperature from view just so we can get temperature for non active zones (not processed in boiler php).
We could do check if zone is enabled use value from zone_current_state and if it's not get temperature from messages/or view whatever is faster.
That should be best from

[2020-06-21 19:27] twa127 commented on #283
that sounds a good compromise to me, I have 3 active zones and 8 non-active, so still need the best performance to read messages_in, my vote is to go back to reading the data directly from the table

[2020-06-21 20:18] pihome-shc commented on #283
@aszumski if in-active zone isnt processed by boiler.php then how temperature reading get to homelist? i always thought using table view with reduced number of records would be faster, on same note may be we can reduce number of days we keep records in message_in table.

[2020-06-21 20:52] twa127 commented on #283
I think performance is being governed by the date comparison. It takes longer to run a query against the view with its date comparison than it takes to run the query against all the records in the messages_in table. This is also causing problems with the graphs, where we run multiple queries against the same view

[2020-06-21 21:06] pihome-shc commented on #283
if that is the case we can switch back to table instead of table view and also reduce the number of sensors reading from 3 days to 2 days.
on same note if we query zone_current_state then it should be most fast method as its is only query one record and all the processing is already done in background by boiler.php

[2020-06-22 06:23] twa127 commented on #283
I suggest that we stick with getting the temperature from the messages_in table as this is simpler and we always have the latest reading without having to wait for boiler.php up update the zone_current_state table.

[2020-06-22 09:31] aszumski commented on #283
Should we also change it in boiler.php ?
It uses view there, I know that user can't see the delay,
but faster is better.

[2020-06-22 09:49] dvdcut commented on #283
my vote is to switch to table, i think reason view is slower it does two query, first to generate view and second run by user on view, @aszumski no harm to switch to table in boiler.php as well.

on boiler.php to update zone_current_state with other bits, may be we need to implement this in better way so gui only depended on zone_current_state and we don't do any calculation or anything in homelis

[2020-06-22 09:51] dvdcut commented on #283
if i remember correctly zone_current_state was setup to bring boiler.php and homelist.php in sync

[2020-06-22 10:44] aszumski commented on #247
Another thing that came to my mind is new zone category, kind of slave zone that exactly follows other zone output.
This would allow us do drive more than one output simultaneously without using custom code.

[2020-06-22 13:17] twa127 commented on #283
I'm running the latest homelist.php on my live system and now page loading is fine.  As I said above getting the temperature from the messages_in table is simpler and we always have the latest reading without having to wait for boiler.php up update the zone_current_state table,.

[2020-06-22 13:37] twa127 commented on #247
Hi,

Must admit I've not really looked at the charting before and am a little confused ;-(

In chartlist.php a number of arrays containing temp and date for specific node/child_ids are created with zone names, but as far as I can see only $weather_c and system_c ever gets used in chartfooter.php, and arrays for all the zones, including water,  are created all over again. Am I reading this wrong ?

[2020-06-22 14:10] dvdcut commented on #247
chartlist.php mostly commented out when loop was introduced while back and all the code is moved to chartfooter.php file for graph, only system and weather data is left in chartlist.php

[2020-06-22 14:19] twa127 commented on #247
ah looking at the code on-line so did not see the comment tags ;-( makes a bit more sense now

[2020-06-22 14:52] dvdcut commented on #247
i think this chartlist is bit mess and need some cleanup work,
just noticed this issue in zone.php, it add message_out twice for same zone, i think problem is at line 98 if ($result) { should be like if (!$result) ?

[code]

[2020-06-22 16:43] twa127 commented on #247
I'm finding chartlist and chartfooter at bit confusing. chartlist does not appear to do very much and its strange that we are creating datasets in both

[2020-06-22 17:05] twa127 commented on #247
@dvdcut I think you are right about if ($result) and it should be if(!$result) anyone else agree ?

[2020-06-22 17:11] pihome-shc commented on #263
Comments on PiHome site by Ian:

Good afternoon.
Zone/Pump overrun tested and is working very well.  I tested using boost facility on single zones and also on multple concurrent overlapping zones - all good.
Many thanks, your help is much appreciated and please also pass on my thanks to @aszumski.
Kind regards

[2020-06-22 17:14] pihome-shc commented on #247
All charts need attention, agree it is bit of mess and need rework/rethinking.

[2020-06-22 17:16] pihome-shc commented on #247
@twa127 i think @dvdcut is right.

[2020-06-22 17:49] pihome-shc commented on #283
Query temperature from messag_in would be faster as proven.

[2020-06-22 17:59] twa127 commented on #247
committed a fix

[2020-06-22 19:27] pihome-shc commented on #269
closing this, no further update required

[2020-06-22 19:27] #269 closed

[2020-06-22 20:20] dvdcut commented on #263
@aszumski i have done testing few times myself (i have wireless boiler and zone controller) and i can confirm it works great, i have turned off that radiator for good now, my pull request #287 was to understand how i can increase time to may be 2 minutes. i think we can add this to boiler table.

[2020-06-22 20:45] dvdcut commented on #263
i have done all the work, i dont know how to do multiple pull request :cry: so i will wait for #287 to get added and i'll do another pull and this will be done from gui

[2020-06-22 22:32] pihome-shc commented on #263
@dvdcut  interesting work on #287 :) sorry can not help you on multiple pull requests i m no expert on GitHub.

[2020-06-22 22:34] #258 closed

[2020-06-23 13:40] twa127 commented on #247
I've tidied up charting a bit, moved chartfooter.php to chartload.php (which was not being used) as this code loads the datasets, moved chartlist.php to daily_usage.php to match the naming of the other modules

[2020-06-23 14:20] dvdcut opened #291 "Charts"
i thought its best to open issue for charts only related work. charts need cleanup, here are the files involved in all charts and their functions:

chart.php - mail file to load graphs
chartlist.php - daily temperature chart
boilerlist.php - porcess and display usage table list
monthusage.php - Boiler Usage graph
battery_usage.php - display battery usage graph
chartfooter.php -  processing the dat

[2020-06-23 14:44] twa127 commented on #291
after initial tidy we have:

chart.php - main file
chartload.php - processing the data and making charts array etc.
boilerlist.php - process and display usage table list
daily_usage.php - display the main logs page on entry
monthusage.php - Boiler Usage graph
battery_usage.php - display battery usage graph

[2020-06-23 14:48] twa127 commented on #291
Also need a better way to load, so that we can display a loading message as dataset creation can take a long time

[2020-06-23 15:04] dvdcut commented on #291
GitHub eat my file name, i was referring to file name as:

- chart.php
- chart_load.php
- chart_boilerlist.php
- chart_dailyusage.php
- chart_monthusage.php
- chart_batteryusage.php

this way we have all the files in same location when you see them, looks tidy

[2020-06-23 15:05] twa127 commented on #291
looks good to me

[2020-06-23 15:13] dvdcut commented on #291
@twa127 agree, loading needs to be displayed for better user experience,

[2020-06-23 15:27] twa127 commented on #291
changed commit to reflect the names above

[2020-06-23 15:47] dvdcut commented on #291
right now when i click charts it loads all the data (all 4 types of data even i m only need one type i.e daily temperature graph). can it be modified some way so it only loads the part we want to look i.e if i click chart it loads temperature chars but as soon as i click on battery usage it loads that part from db, if we can implement this it would be lot faster and lighter.

[2020-06-23 16:31] twa127 commented on #291
I think the only thing you could loose would be the battery voltage dataset, boilerlist and monthlyusage get the data on entry

[2020-06-23 17:05] twa127 commented on #291
on my live system opening the chart now takes approx 40 seconds to open, but if I drop the battery voltage dataset creation from chart_load.php it drops to only 5 seconds,

[2020-06-23 17:38] pihome-shc commented on #291
some people are complaining about this slow loading of graphs i think we have to drop battery part untill we can make that on demand.

[2020-06-23 20:38] pihome-shc commented on #291
is it only me or you also can not see charts? when i click on chart icon no temperature charts and when i click on second icon it loads boost list and not graph for boiler usage either.

[2020-06-23 21:13] twa127 commented on #291
Sorry forgot to update to update the filename in footer.php

[2020-06-23 21:21] pihome-shc commented on #291
@twa127 still the same, even after last update.

[2020-06-23 21:39] twa127 commented on #291
committed another fix

[2020-06-23 21:49] pihome-shc commented on #291
Something not right, see attached images

[2020-06-23 21:55] twa127 commented on #291
no image

[2020-06-23 22:02] pihome-shc commented on #291
dont know why email images was removed by github.

![image](https://user-images.githubusercontent.com/33334232/85469320-6c559200-b5a5-11ea-9c5d-96af1b339d2a.png)

![image](https://user-images.githubusercontent.com/33334232/85469357-79728100-b5a5-11ea-966e-10c363e1e3b1.png)

![image](https://user-images.githubusercontent.com/33334232/85469410-868f7000-b5a5-11ea-9e20-e4be48af7533.png)

[2020-06-23 22:04] twa127 commented on #291
I'll copy code to my Pi setup and get back to you

[2020-06-23 22:11] twa127 commented on #291
quick test and it worked okay on my Pi, I'll download files from github

[2020-06-23 22:18] pihome-shc commented on #291
this is very odd, i just did sudo git clone https://github.com/pihome-shc/pihome "/var/www" on new folder and load pihome and still the same result

[2020-06-23 22:24] twa127 commented on #291
Can you try using the attached for chart_boilerlist.php
[chart_boilerlist.zip](https://github.com/pihome-shc/pihome/files/4822268/chart_boilerlist.zip)

[2020-06-23 22:24] twa127 commented on #291
off to bed catch you in the morning

[2020-06-23 22:30] pihome-shc commented on #291
@twa127 attached chart_boilerlist.zip is working but its not the same as you github.

[2020-06-24 06:13] twa127 commented on #291
Sorry copied the wrong file when I changed the file names, committed a correction

[2020-06-24 23:26] dvdcut commented on #263
@aszumski
icon for boiler overrun is not very visable in outline as its very small icon, i suggest better change this
from
`class="fa ion-ios-play-outline orange fa-fw`
to
`class="fa fa-play orange fa-fw"`

![image](https://user-images.githubusercontent.com/53821067/85636828-7052e400-b679-11ea-8a4d-fb8e4088ff31.png)

[2020-06-25 13:35] twa127 commented on #291
To reduce loading time can I suggest that we only display 1 graph for battery, currently both graphs display exactly the same info but with different scaling of the y axis

[2020-06-25 16:53] pihome-shc commented on #291
Agree, I think we cal leave Battery % graph in and drop voltage graph.

Kind Regards
PiHome Smart Heating

[2020-06-26 06:41] twa127 commented on #291
Hi,

Do we want to re-introduce battery level graph after update by @dvdcut ?

[2020-06-26 10:49] aszumski commented on #263
@dvdcut
Chose this icon so it doesn't stand out :)
I taught it's nice to know what is driving your zone valve open but it's not very important information.
I don't mind changing it if you think it should be more visible.

[2020-06-26 11:47] dvdcut commented on #263
its nice to see this feature i think and why not show users as well that system is working.

[2020-06-26 20:26] pihome-shc commented on #291
@twa127
#298 right now there is no record for min_voltage for sensors. it is left null we can change temperature sketch to send this value on startup and capture this and record it.

another suggestion: for time being we can drop battery graph altogether,

[2020-06-26 20:53] twa127 commented on #291
Hi,

I think that min_voltage should be set in node alerts gui, perhaps changed to min_level to match the graph and also used in email notifications. I use a mix of battery and mains powered sensors hence the check if NULL or perhaps 0

[2020-06-26 21:14] pihome-shc commented on #291
Good thinking, one question how to add minimum value there? If we modify gateway.py then it cannot distinguishes between mains powered vs battery powered.  Are thinking to add option for battery level graph same as zone graph?

[2020-06-26 21:23] twa127 commented on #291
Don't need to do anything in gateway just use same process as Notice Interval and set in Edit Node Alert Settings

[2020-06-27 11:58] dvdcut commented on #291
i dont mind if you want to drop battery charts.
@twa127 setting alert for battery level still wouldn't make difference, i mean that would create alert but how to enable/disable battery graph?
i suggest adding bat_graph_it column in nodes table and under settings->sensors add checkbox for battery level graph

[2020-06-27 14:39] twa127 commented on #291
The battery charts kind of have a one time use for working out how fast the fall off is and for determining a threshold point for sending alerts.

What I think is the issue is that all the data gets loaded by chart_load.php, it would be good if chart_batteryusage.php loaded its own data, but I'm struggling to make this work.

I would like to change the min_voltage column in the nodes table to min_

[2020-06-27 15:08] pihome-shc commented on #291
@twa127 yes that shouldn't have any issues as that value isnt used anywhere. @dvdcut have not issues removing battery chart and we can workout to make it faster, as you said battery usage is not something you want to see everyday. important bit is how to alert user of battery level rather show how it is used over time.

[2020-06-27 15:25] twa127 commented on #291
okay I'll go ahead and code the alert stuff

[2020-06-27 15:30] leeoniya commented on #291
as someone who's interested in both home automation and charting, thought i'd shamelessly plug https://github.com/leeoniya/uPlot in case this project was open to evaluating alternatives to Flot/Morris. cheers! `</hijack>`

[2020-06-27 16:53] twa127 commented on #291
ah something else to keep me occupied during lockdown :-)

[2020-06-28 22:43] pihome-shc commented on #291
@twa127,
after your changes here is my node table before and after changes, it set to repeater column to null, sketch version to 0 and ms version swapped with sketch version. i think its shifted one column to left.

![image](https://user-images.githubusercontent.com/33334232/85960051-5cb8bd80-b998-11ea-84f8-2874141b5931.png)

after apply changes,
![image](https://user-images.githubusercontent.com/

[2020-06-29 07:59] twa127 commented on #291
hi,

Looks like you have not updated the nodes table definition to change the min_voltage decimal field to min_value INT(11)

[2020-06-29 12:08] dvdcut commented on #291
@pihome-shc i have done the update and it is working as expected. two things, first it did set repeater value to null and second. min_value is set to null, may be db_update.php script need some work to check these values

![image](https://user-images.githubusercontent.com/53821067/86003195-5dd60300-ba09-11ea-8b0c-a2adce509ad8.png)

[2020-06-29 12:49] dvdcut commented on #250
How to install MQTT on Raspberry pi
follow this [link](https://appcodelabs.com/introduction-to-iot-build-an-mqtt-server-using-raspberry-pi)

1. Install the mosquitto MQTT Broker
`sudo apt install mosquitto mosquitto-clients`

2. Enable the mosquitto broker
`sudo systemctl enable mosquitto`

My esp8266 gateway sketch, all of this copy/paste from Pihome esp8266 and from MySensors sketch. make sure y

[2020-06-29 14:18] twa127 commented on #291
Hi,

min_value will be set by the gateway script but only for the latest version of the temperature sensor sketch, not sure why repeater is set to nulll

[2020-06-29 14:53] dvdcut commented on #291
i think to update sketch in all nodes i need usb to ttl device :sweat: . i dont think over the air type of update implemented in any wireless nodes.

[2020-06-29 15:02] twa127 commented on #291
I guess not too much of an issue short term as you can set min_value manually, the gateway script just sets an initial value when the node comes on-line

[2020-06-29 15:30] dvdcut commented on #250
while googling around to find the way to communicate with mqqt gateway i came across [pymysensors library](https://github.com/theolind/pymysensors)

**Python API for talking to a MySensors gateway. Currently supports serial protocol v1.4, v1.5, v2.0 - v2.2. Not all features of v2.x are implemented yet.**

how to implement this is another question but looks very promising and need someone with bit

[2020-06-29 19:29] dvdcut commented on #250
ok i think i m getting somewhere with this now. in python 3 as we are on python version 3. copy [mqtt.py file from here](https://github.com/theolind/pymysensors/blob/master/mqtt.py)  and just simply run it.

error and its fix found here on [stackoverflow ](https://stackoverflow.com/questions/41480256/import-error-paho-mqtt-client-not-found)

[code]
Install some other dependencies
`pip3 install pah

[2020-06-29 21:15] dvdcut commented on #250
we already have python script that can read the mqtt data, initially worked on by @paulcsf but since then no major work dont on MQTT,

i think i m hitting my limits here on python and i could really need some help. #305 show temperature sensor readings but i can not progress any further. as you can see temperature sensors power on and python script showing data with other info.

[code]

[2020-06-30 01:54] dvdcut commented on #250
here is the total code for mysensors mqtt gateway and one temperature sensor. i will continue spend some time
you need to modify mqtt.py file
[code]
here is the output when temperature sensors is powered on.

[code]

[2020-07-01 00:14] dvdcut commented on #250
i think my exiting code can be integrated into exiting gateway.py to accommodate mysensors mqtt gateway. but for non-mysensors mqtt nodes we have to come to some agreement, how we want to manage topics, the way mysensors mqtt gateway works is little bit messy hence "#" is subscribe to all, just watch traffic. `client.subscribe("#")`
but for other type of mqtt devices we need to set some sort of st

[2020-07-01 19:04] twa127 commented on #291
Hi

attached a bit of php to load the zone_graphs table with the last 24 hours of temps, you need to pause the gateway script while it runs

[pop_zone_graphs.zip](https://github.com/pihome-shc/pihome/files/4859932/pop_zone_graphs.zip)

[2020-07-02 00:19] pihome-shc commented on #291
@twa127 your indentation is wrong, also you have some other errors on line 275, and 276.

[code]
i think correct lines are

[code]

[2020-07-02 00:20] pihome-shc commented on #263
@aszumski / @dvdcut can we close this issue if no further update required on this?

[2020-07-02 00:24] pihome-shc commented on #291
adding records to zone_graphs gives following error and gateway.py gets terminated.

[code]

[2020-07-02 00:41] pihome-shc commented on #250
@dvdcut good work, its time to build mysensors mqtt gateway, the way mysensors works is different then other mqtt devices, all sensors, controllers works on ism band to communicate to mysensors gateway and gateway pub/sub messages, whereas sonoff with [tasmota ](https://github.com/arendst/Tasmota) sketch communicate with broker directly.
i dont have any sonoff device with sensor at the moment to d

[2020-07-02 01:52] pihome-shc commented on #291
@twa127 pop_zone_graphs.zip is alternate to update zone_graphs table?

[2020-07-02 07:05] twa127 commented on #291
committed a fix for the gateway.py errors

pop_zone_graphs.php is just a script to copy the existing zone temperature readings from messages_in table to the new zone_graphs table for the last 24hours and where graph_it = 1, this is so that you don't start with an empty zone_graphs table and have to wait for it to re-fill over the next 24 hours.

I'd be interested to know if you see any improvement

[2020-07-02 07:32] twa127 commented on #291
I've moved the removal of records after 24 hour from db_cleanup.php to gateway.py otherwise the we have to wait until 2AM when db_cleanup runs

[2020-07-02 12:05] dvdcut commented on #291
@twa127 are trying to reduce the size of query that is executed on chart load by copying temperature readings into zone_graphs table and using it for graph purpose?

[2020-07-02 12:13] dvdcut commented on #263
its all working great thanks to @aszumski for all the hard work. this can be closed as far i can think

[2020-07-02 12:24] twa127 commented on #291
Hi

Yes that's the idea, the new table contains only zone records for the last 24 hours where graph_it = 1, so the query runs much faster. Also now only run 1 query to get the data for both heating and water, so a bit more performance gain. On my live system it is at least twice as fast to load the graphs page.

[2020-07-02 13:21] twa127 commented on #291
Bye the way table zone-graphs is populated by the gateway script at the same time as messages_in, so this is back-end activity

[2020-07-02 13:31] dvdcut opened #309 "Zone - Add - message_out not updating/populating"
when adding zone it wouldn't add message_out record. i think this is the fix for adding record but when i modify it add another one rather then editing exiting record for same zone.

[code]

[2020-07-02 14:15] twa127 commented on #309
Hi,

I can't see any code for updating the record if in edit mode, I guess it would need a test of  if ($id==0) then INSERT else UPDATE

[2020-07-02 15:32] dvdcut commented on #309
dont know if this ever worked since edit/add was merged.

[2020-07-02 16:30] twa127 commented on #309
you're probably right

[2020-07-02 17:46] pihome-shc commented on #309
that is serious bug, if some one is trying to install this it is not going to work for end user. but adding zone always worked even after add/edit merge.

[2020-07-02 17:51] dvdcut commented on #309
#311 is half fix, i.e it will add records to message_out table but on edit it still create new record

[2020-07-02 17:54] twa127 commented on #309
to be clear -

1. add zone is working okay
2. edit zone is working okay
3. issue is when editing an existing zone and changing Zone Controller ID (and Zone Relay Controller's Child ID) the existing message_out table record is not being updated

Is that the correct interpretation ?

[2020-07-02 18:00] pihome-shc commented on #309
@twa127 did you test  #311 or it was working before?

[2020-07-02 18:04] dvdcut commented on #309
@twa127 for me, this morning, when i add zone, it wouldn't add record to message_out table at all, now after #311 it add record to message_out table and when i edit zone record it does not edit exiting record from message_out table but add another one.

[2020-07-02 18:05] twa127 commented on #309
I think #311 fixes the issue of creating duplicate records in the messages_out table be changing the test for no record from if ($result) { to if (mysqli_num_rows($result) ==0){

[2020-07-02 18:12] twa127 commented on #309
I think when editing we need to capture the 'id' of the messages_out record linked to the zone and then update it on save, the INSERT statement is only required when adding a new zone

[2020-07-02 18:12] dvdcut commented on #309
editing issue is still there, query to search for exiting record is all wrong, it is searing for already submitted record in message_out

`$query = "SELECT * FROM messages_out WHERE node_id = '{$controler}' AND child_id = '{$controler_child_id}' AND zone_id = '{$zone_id}' LIMIT 1;";`

[2020-07-02 18:18] twa127 commented on #309
as I read it that query can be used to get the 'id' of the existing messages_out recort which must exist if we are editing and can be used for an update query, will not be needed if in add zone mode where we must insert a new messages_out record

[2020-07-02 18:32] twa127 commented on #309
the select query would need to be moved to the section where we load the data if in edit mode

I'm happy to provide an update if required :-)

[2020-07-02 18:57] dvdcut commented on #309
@twa127 that would be wonderful if you can do it

[2020-07-02 19:02] #49 closed

[2020-07-02 19:14] twa127 commented on #309
okay, let you know

[2020-07-02 22:27] aszumski commented on #263
I think this can be closed.
@dvdcut thanks for the front end changes.

[2020-07-02 22:48] #263 closed

[2020-07-02 22:51] pihome-shc commented on #240
@harvybob any further work required on this? can this issue be closed ?

[2020-07-02 22:54] pihome-shc commented on #283
@twa127 any further update/work required on this issue?

[2020-07-02 22:55] pihome-shc commented on #248
@twa127 any further update on this? or can this be closed ?

[2020-07-02 22:59] #166 closed

[2020-07-03 06:46] twa127 commented on #309
committed a fix - checks if in add or edit mode, if add then insert new message_out, if edit then capture the id of the existing message_out in a hidden input field and use this to update the existing message_out

[2020-07-03 06:48] #283 closed

[2020-07-03 06:49] #248 closed

[2020-07-03 08:20] harvybob commented on #240
Not that i can identify, I cant seem to test/get the same error now so i cant really dig any more.
May as well close.

[2020-07-03 11:38] twa127 commented on #309
tidied up the record INSERT/UPDATE success fail messages

[2020-07-03 16:57] pihome-shc commented on #309
@twa127 thank you for fixing this.

[2020-07-03 16:57] #240 closed

[2020-07-04 12:47] pihome-shc commented on #309
@twa127
zone.php have error on [line 104 ](https://github.com/pihome-shc/pihome/blob/4707fe7bdf8ba157121fdb5f266d1e8b253b464d/zone.php#L104)

`$query = "INSERT INTO `messages_out` (`sync`, `purge`, `node_id`, `child_id`, `sub_type`, `ack`, `type`, `payload`, `sent`, `datetime`, `zone_id`) VALUES ('0', '0',$`

[2020-07-07 18:22] twa127 opened #315 "boiler.php not referencing the correct controller type"
The main zone loop does not save the value of the controller_type in the $zone_commands array, hence when the the zone_commands are executed they use the last zone processed value for every zone.

I've committed a fix

[2020-07-07 18:23] pihome-shc commented on #247
@dvdcut, can this issue be closed now, i did some testing and add/edit works as expected.

[2020-07-07 18:26] pihome-shc commented on #315
@twa127  #314 is fix for this issue?

[2020-07-07 18:59] twa127 commented on #315
yep + a new view for the add-on logs

[2020-07-07 19:11] twa127 commented on #315
as it turns out I probably don't need the new view, I'm working on being able to override a category 2 zone schedule while it's running, ie. lamp is scheduled to be ON but you decide to go out so want to be able to switch OFF without the schedule turning it back ON the next time boiler.php cycles.

[2020-07-07 21:46] #309 closed

[2020-07-07 22:07] dvdcut commented on #291
this issue can be closed if @twa127 is happy

[2020-07-07 22:46] dvdcut commented on #250
i have reached my limit of python, attached python code to read node data when it it first power etc. but i can not get it to publish in loop, if i set message_out sent status to 0 and on start the sctip it works but during execution it ignores publishing part. can some one please have look and tell me what i m doing wrong.

[mqtt_v2.txt](https://github.com/pihome-shc/pihome/files/4887483/mqtt_v2.

[2020-07-08 09:03] twa127 commented on #291
yes happy to close, I think the graphs are now usable again, I would like if we could show a message while they load, but that can wait for another day :-)

[2020-07-08 16:56] #291 closed

[2020-07-09 14:05] twa127 commented on #315
I think tis can now be closed

[2020-07-09 17:30] #315 closed

[2020-07-09 17:32] pihome-shc commented on #247
it time to get sonoff relays to get cat2 under control. 😄

[2020-07-09 17:53] twa127 commented on #247
I guess you could simply use a zone controller relay interface and use the add-on sketch with appropriate pin settings.

My lamp seems to do most things okay now, can manually switch on/off, schedule with manual overrride and

[2020-07-09 21:44] pihome-shc commented on #247
I m thinking to redesign controller node with onboard power and make it bit more compact somewhat same size as sonoff mini that can fit in small compartment. Second option would be to use sonoff with tasmota sketch but that only works on mqtt.

[2020-07-11 18:48] pihome-shc opened #321 "MySensors Nodes without ID"
right now there isnt any option of way to assign nod id to any nodes when Node iD isnt hardcoded into the sketch.

[2020-07-12 08:25] twa127 commented on #321
Are you thinking of something like a sonoff?

[2020-07-12 08:54] pihome-shc commented on #321
@twa127
I was testing mysensors and realised we don’t have anyway to assigning id broadcasters nodes, i.e if node don’t have id hard coded in sketch.

[2020-07-12 19:36] pihome-shc commented on #321
@twa127 i think my approach is little bit wrong, right now gateway look for records in node_id table and assign next available node id. i think better way would be if it look for highest number id in node table and assign next id this way user dont need to enter all 0 to 254 number in node_id table.

[2020-07-14 14:13] twa127 opened #324 "Sonoff"
Hi,

I'm playing around with the Sonoff as a dirt cheap mains switch add-on and thought I'd see what you think of the approach:-)

1. These things are cheap, less than 10GBP on Amazon
2. No way could you build anything for less
3. ESP8266 based
4. Can be easily hacked to work on the local network (bypassing the cloud based default setup)

Integration into PiHome

1. Did not want the hassle or over

[2020-07-14 17:27] pihome-shc opened #325 "Wired DS18B20 Sensors and Graphs"
[PiHome Link to comments](https://www.pihome.eu/2020/05/24/pihome-version-1-75/#comment-59810)
Hi,
When I first installed the software it did not find the 1-wire temperature sensors, I had to manually run 'python gpio_ds18b20.py ' to discover the temperature sensors, this worked correctly and they are still being logged to message_in_view_24 in the database. Based on your feedback above I manually

[2020-07-14 17:37] pihome-shc commented on #324
@twa127 yes i agree, no one can build this cheap controller and they also have 1 relay 2 and 4. i have one relay module i bought for 5 euro i think while it was on sale.
i agree MQTT is overhead but i think MQTT is the way to go and not only it cover huge amount of devices but also make PiHome compatible with industry standards, @dvdcut have done some basic work  in #250 but that is just basic MyS

[2020-07-14 17:49] aszumski commented on #324
@twa127  this looks like great piece of hardware.
Exactly what I was looking for.
Will order couple of them from amazon to play around with them soon :)
You can go cheaper with esp01 relay boards from aliexperss (around 2 euro), but then you need power supply and enclosure, so you will end up with similar price and not as compact/nice.
If you don't mind waiting for delivery you can get 3 pack of t

[2020-07-14 17:55] twa127 commented on #324
Hi,

See your point BUT for me MQTT is going to be too much of an overhead on the already hard pushed PiHome controller and I I don't particularly want to have to run and maintain another controller for the MQTT server.

I can see the issue with multiple subnets, the use of either use static IPs or router reservations to make sure of consistent ip address.

This approach is relatively simple and a

[2020-07-14 18:14] dvdcut commented on #325
partial fix is to un-comment the cronjob, and all code is there for users, i know current code do not update zone_graph table.  i think few more lines can fix this fully. i can work on this one later on.

[2020-07-14 18:19] dvdcut commented on #324
@twa127 i have one subnet at home so it wouldn't be a problem for people with one subnet, may be we can customize sketch for sonoff and other esp based relay boards to make them to look for pihome instead pihome looking for controller but on same time pihome can control status of these devices.

i know i have worked on mqtt but i m not sure if i can finish that work as my knowledge of python is ex

[2020-07-14 19:16] twa127 commented on #324
My start point was looking at customizing an existing sketch and letting it create a node, but decided it was too difficult with the ESP8266, tying to make some kind of handshake ACK to indicate the ESP8266 had received the message. So I decided to come at it from the other side, a bit like the I2C relay controller and manually create a virtual node with a tiny bit of code in the gateway script to

[2020-07-14 21:02] pihome-shc commented on #324
@twa127, can you share sketch as well, i will try to use spare esp for this testing, my multiple subnet system may be unique but lets not stop your idea, adding ip based nodes wouldn’t hurt anything.

[2020-07-14 21:23] twa127 commented on #324
Attached the gateway script, Sonoff loaded with the latest tasmota build, configured as a Sonoff Basic and manually added an new entry to the nodes table. Add a new Lamp type Add-On zone, so able to toggle the Sonoff from the PiHome GUI

![virtual](https://user-images.githubusercontent.com/46624596/87477544-30e83980-c620-11ea-9ce1-9f9ab2ed32b1.JPG)

[gateway.zip](https://github.com/pihome-shc/piho

[2020-07-14 21:59] dvdcut commented on #325
this pull request should fix this issue.

[2020-07-14 22:03] dvdcut opened #327 "Cronjob management"
while working on #325 it got me thinking about cronjobs, can we manage these jobs some other way. i mean one script manage all cronjobs and it runs once every 60seconds this way we'll have only one entry in crobtab? we can control this from web interface what to run and how frequent.
This is just very vague question so any reason we shouldn't do this? or any suggestion to do this?

[2020-07-14 22:48] pihome-shc commented on #324
@twa127 how id is handled for esp with tasmota ?

[2020-07-15 01:53] #325 closed

[2020-07-15 01:56] pihome-shc commented on #327
@dvdcut i looked at this in the past but due to time constrains i never had chance to revisit this. there are some project on github written in php.

[2020-07-15 08:23] twa127 commented on #324
Hi,

Everything you need is in this video https://www.youtube.com/watch?v=08_GBROKQH0

tasmota.bin can be found at http://thehackbox.org/tasmota/release/ or  http://github.com/arendst/Sonoff-Tasmota/releases

PyFlasher can be found at https://github.com/marcelstoer/nodemcu-pyflasher/releases

I used a WeMos Mini board I had lying around to do the development, any ESp8266 board will do, you don't n

[2020-07-15 08:27] twa127 commented on #324
Tasmota is not the only way to go, an alternative is EspEasy https://www.letscontrolit.com/wiki/index.php/ESPEasy which can be used in the same way via HTTP

[2020-07-15 10:25] dvdcut opened #330 "chart background-color for boiler on time"
chart background colour for boiler on time isn't working, when i checked i see zone_log_view_24h  view does not exit in anywhere.

[code]

[2020-07-15 10:47] dvdcut opened #331 "Bug - Scheduling"
there is issue with scheduling, i can create schedule but no zone list, i can create schedule and have to go back to modify to list all zone.

![image](https://user-images.githubusercontent.com/53821067/87536350-e05cf480-c690-11ea-9e2d-95fa4fffdb1f.png)

[2020-07-15 11:20] dvdcut commented on #331
ok, fix is easy, change [line 182](https://github.com/pihome-shc/pihome/blob/69394f249842ebac9f5ecf64558d381e07bbfacd/scheduling.php#L182)

`
$query = "select zone.id as tz_id, zone.name as zone_name, zone.status as tz_status, zone.type, zone_type.category FROM zone, zone_type WHERE zone.type = zone_type.type AND status = 1 AND `purge`= 0 ORDER BY index_id asc;";`

to
`
$query = "select zone.id as

[2020-07-15 12:41] twa127 commented on #330
committed a fix

[2020-07-15 12:47] twa127 commented on #324
I had a look at the static IP address issue and it can be handled in two ways, on the router by reserving an IP address using the devices MAC address, or by using the Tasmota WEB console.

[2020-07-16 21:41] dvdcut commented on #331
this issue if fixed, i m closing this.

[2020-07-16 21:41] #331 closed

[2020-07-16 21:46] dvdcut commented on #327
i think all cron jobs can be managed from one php script and all jobs with schedule can be saved in database, small modification to exiting crontab table, i will try to find something on github so i don't have re-invent the wheel 😄

[code]

[2020-07-16 23:00] pihome-shc commented on #330
@twa127 thank you for working on this.

[2020-07-16 23:00] #330 closed

[2020-07-17 15:56] dvdcut commented on #324
@twa127 i manage to write bin file http://thehackbox.org/tasmota/release/tasmota.bin to my esp8266 and all worked ok apart from it gave me only 4 gpio, am i doing something wrong?

[2020-07-17 16:59] twa127 commented on #324
when loading the bin file to a Sonoff mine worked without having to do anything

[2020-07-17 19:04] twa127 commented on #324
Hi

I'd like to save the local network gateway address somewhere in the database rather than have to retrieve it from system, perhaps in the system table. Any thoughts ?

[2020-07-17 19:33] pihome-shc commented on #324
@twa127 system table can be used but i suggest to crate another table for network related config i.e network_setting may be in future we can implement static ip from database, what do you think?

[2020-07-17 20:54] twa127 commented on #324
founds good to me, okay if I work on it?

[2020-07-17 21:21] pihome-shc commented on #324
Yes, sure. I will try my nodemcu dev board for testing this tomorrow.

[2020-07-19 12:18] pihome-shc opened #336 "Network management from web gui"
Manage network settings from web gui.

[2020-07-19 13:32] pihome-shc commented on #336
@twa127 is this fully functional network configuration for selected connection?

[2020-07-19 15:14] twa127 commented on #336
Hi,

Not at the moment, it is purely informative, the main reason for the table data is for the Sonoff, I'm using the gateway IP address of the primary interface + the child_id to identify the Sonoff. I want to be able to handle the Sonoff's button to override any state set by Pihome, so I need to do a http request to the Sonoff to get its current state within boiler.php

I use connmanctl to confi

[2020-07-19 16:14] pihome-shc commented on #336
@twa127 after updating, my settings are broken, even if i manually add enter in network_setting table, no errors in apache logs either,

[2020-07-19 16:32] pihome-shc commented on #247
we have error in boiler.php

[code]

[2020-07-19 16:33] twa127 commented on #336
okay looking at it

[2020-07-19 16:48] twa127 commented on #336
Please give the latest commit a try and let me know

[2020-07-19 16:50] pihome-shc commented on #336
@twa127 Thank you, that fixed the issue,

[2020-07-19 16:54] pihome-shc commented on #247
this error only occur if i have zone type 1,

[2020-07-19 17:32] twa127 commented on #247
Hi,

That's a strange one as cat1 is processed the same as cat0, could it be because you have no temperature sensor attached to the zone, remember cat1 has a temp sensor but no boiler. I see the start cause is Frost Protection, which again make me think you have no temp sensor

[2020-07-19 17:53] pihome-shc commented on #247
i have same sensors (30) for cat0
![image](https://user-images.githubusercontent.com/33334232/87881418-0f58ca80-c9f1-11ea-8e2c-c4ef6775c311.png)

[2020-07-19 18:12] twa127 commented on #247
okay I'll try and reproduce the problem

[2020-07-19 18:19] twa127 commented on #247
My test system looks like this

![cat1_1](https://user-images.githubusercontent.com/46624596/87881958-bee36c00-c9f4-11ea-931f-a1a8bf618d28.JPG)

![cat_2](https://user-images.githubusercontent.com/46624596/87881962-c4d94d00-c9f4-11ea-8c11-fd0ac5524dae.JPG)

[2020-07-19 18:38] pihome-shc commented on #247
Ok, i will try to replicate this issue on my dev system

[2020-07-19 18:58] pihome-shc commented on #247
after removing immersion (cat1) boiler.php runs ok, and i created cat1 zone on dev system and it runs ok as well. so dont know what it is but i discover small gui bug, system should show frost protection icon on zone but its not.

[code]

[2020-07-19 19:05] pihome-shc commented on #247
i m wondering, could it be because of frost protection as frost protection dont have expected end datetime? and this value isnt there

[2020-07-19 19:05] twa127 commented on #247
Hi,

Why are there no 'Zone Sensor Reading' values in the log, there was no reading in the earlier log for the Immersion zone

[2020-07-19 19:08] twa127 commented on #247
possibly, but is it going to frost protection because there is no sensor reading

[2020-07-19 19:11] pihome-shc commented on #247
i disabled my gateway, i was testing something and forget to enable gateway in settings. yes it is going to frost protection because of temperature reading is older then 24hours.

[2020-07-19 19:21] twa127 commented on #247
ah that explains it, I've never tested with the zone going in to frost protection, I'll have a look at that

[2020-07-19 19:34] twa127 commented on #247
I've copied the current version of boiler.php to my dev system and see something strange at line 745
![cat1_2](https://user-images.githubusercontent.com/46624596/87883393-f7884300-c9fe-11ea-9c95-54b4693f5460.JPG)

I think the lines starting //* are causing an the code below to commented out

[2020-07-19 19:41] pihome-shc commented on #247
check file its Windows (CR LF), change this to Unix (LF) that might fix this. some time end of line causes this.

[2020-07-19 19:46] twa127 commented on #247
I was able to reproduce your frost protection issue, changing //* to // * at lines 745 and 747 fixed the problem

[2020-07-19 19:59] pihome-shc commented on #247
that is very odd, did you check file? is it windows or unix ? i can not reproduce this error, i mean it goes to frost protection but no error running boiler.php

[2020-07-19 20:09] twa127 commented on #247
editing in unix using nano, yes very strange

[2020-07-19 20:14] twa127 commented on #247
I think we should change lines 745-747 any way as /* is block comment start sequence

[2020-07-19 20:16] pihome-shc commented on #247
agree, lets change this.

[2020-07-19 20:17] twa127 commented on #247
okay I'll do it now, also have a small bug fix for boiler.php

[2020-07-19 20:28] twa127 commented on #247
I'll carry working on your immersion issue

[2020-07-19 20:39] pihome-shc commented on #247
@twa127 thank you for finding bug and fixing it. can you test and  include following lines for boiler.php

[code]

[2020-07-19 20:42] twa127 commented on #247
I think this error has probably been with us for some time, its related to the boiler or add-on log entry when in frost protection mode and as you said earlier expected_end_date_time is not set

[2020-07-19 21:46] twa127 commented on #247
The changes you made don't work I'm afraid zone_id does not exist in table zone_current_state, I think I've fixed the other issue

[2020-07-19 21:48] pihome-shc commented on #247
yeh, just realized, table missing small change to id and one more change when creating record in zone_current_state line 204.

[2020-07-19 21:53] twa127 commented on #247
Okay, happy to leave that change up to you :-))))

[2020-07-20 09:51] twa127 commented on #324
Hi,

I'm currently using 'Virtual' as the node.type for the Sonoff device, I did this as I initially thought that the same process could be used for other add-ons, but as I'm using HTTP requests which are specific to the Sonoff (or more correctly to the Tasmota firmware), I think it would be better to use 'Tasmota' as the node.type. Any thoughts ?

[2020-07-20 10:16] pihome-shc commented on #324
I think using tasmota is better option, we could have another type of http nodes in future.

From: twa127 <notifications@github.com>
Sent: Monday 20 July 2020 10:52
To: pihome-shc/pihome <pihome@noreply.github.com>
Cc: PiHomeHVAC <info@pihome.eu>; Comment <comment@noreply.github.com>
Subject: Re: [pihome-shc/pihome] Sonoff (#324)

Hi,

I'm currently using 'Virtual' as the node.type for the Sonoff

[2020-07-20 12:16] twa127 commented on #324
Okay changes committed

[2020-07-20 17:00] twa127 commented on #324
A first go at a Sonoff user guide
[Using the Sonoff Basic with PiHome.zip](https://github.com/pihome-shc/pihome/files/4949057/Using.the.Sonoff.Basic.with.PiHome.zip)

[2020-07-20 18:05] pihome-shc commented on #324
@twa127 great work, can i publish this one website?

[2020-07-20 18:32] twa127 commented on #324
only a first draft but feel free :-)

[2020-07-21 07:36] harvybob commented on #324
Hey, this is looking interesting - is there any way to include the temperature and humidity sensors?

[2020-07-21 08:00] twa127 commented on #324
Hi,

Are you thinking of something like the Sonoff TH16, if so I don't see why not, it only requires processing additional HTTP commands but if you are not going to uses the mains voltage switching capability, then I would have thought a MySensors option was a better way to go.

[2020-07-21 08:25] harvybob commented on #324
I was thinking of the Sonoff TH16, but i will have a look at the My Sensors option. I have a sensor in the bathroom behind tiles thats died, so cant replace and now cant monitor the room!

[2020-07-21 08:30] harvybob commented on #324
Also is there any way to pulse the switching for sonoff? My fish tank has a silly light - if its just switched on, its white. If its switched on, off and then on, its blue+ white. If its switched on, off, on, off and then on, its just blue...

Looking for a way to set this up on timer so blue comes on for a while at say 6 am, blue/white at 7am, white at 8, and then the reverse for 7pm, 8pm 9pm etc

[2020-07-21 12:26] twa127 commented on #324
anything is possible :-) its a kind of schedule activity but with a startup sequence, the PiHome scheduling is built around on/off timers, there is currently no repeat sequencing

[2020-07-21 13:34] twa127 commented on #324
Worth looking at the Tasmota command set, there is a 'PulseTime' command which perhaps could be used with the 'Backlog' command to send the sequence of on/off commands you need. At the moment the HTTP commands are hard coded in gateway.py as I'm only using 'POWER ON' or 'POWER OFF', this would need to change and perhaps use the payload of messages_out (just thinking out loud)

[2020-07-22 14:42] twa127 commented on #324
I've made a change to use the Sonoff HTTP command message text as the message_out payload, rather than using '1' for ON and '0' for 'OFF'

The eventual goal if to be able to make more use of the Tasmota command set.

[2020-07-23 12:21] twa127 commented on #324
Hi,

I've implemented a table for the Sonoff HTTP messages with an associated GUI. The idea is that we can (perhaps) exploit more of the Tasmota firmware capabilities for things like @harvybob  fish tank :-) I've only tested with the basic POWER command so far and still need to look at gateway.py

Attached an updated user guide
[Using the Sonoff Basic with PiHome.zip](https://github.com/pihome-shc

[2020-07-23 12:26] dvdcut opened #349 "MySQL and MariaDB Compatibility - SQL query to comply with 'ONLY_FULL_GROUP_BY"
this issue is driving from old rejected pull request: #11

MySQL versions >5.7.5 now have a default 'ONLY_FULL_GROUP_BY' SQL mode, so default MySQL installation will throw a wobbly:
"Reject queries for which the select list, HAVING condition, or ORDER BY list refer to nonaggregated columns that are neither named in the GROUP BY clause nor are functionally dependent on (uniquely determined by) GROU

[2020-07-23 17:16] pihome-shc commented on #324
@twa127 this is great work, i been busy working on PiConnect. but this is great addition to PiHome. Appreciate your hard work

[2020-07-23 17:25] pihome-shc commented on #349
i had lots of issues in start with this sql but for me workaround was to turn off the ONLY_FULL_GROUP_BY MySQL Mode, this was the very reason behind raspberry pi img file as i had to many emails from users with all sorts of issues and linux is ever changing environment and what instructions are correct today may not be valid tomorrow and its very hard to keep up with all that.

i know any_value fu

[2020-07-23 17:26] pihome-shc commented on #327
feel free to work on this, i'll try to give you my input if needed.

[2020-07-24 23:54] pihome-shc commented on #247
can i suggest to amend query in db.php for add_on to update zone_current_state so status of home screen gets updated immediately rather then waiting for boiler.php to update zone_current_state table.

[2020-07-25 09:00] twa127 commented on #247
hi,

I see your point but there are a couple of problems with implementing it this way

1. We would need to check if a schedule is active and if so the change the override status as well and I see this being best placed in boiler.php.
2. The same approach could not be used for the manual button, as its status is polled by boiler.php

The colour of the tile icon does get changed immediately, it is

[2020-07-25 13:29] pihome-shc commented on #247
may be we need to rethink add-on strategy in more details, lag in heating isnt that big problem (i think) but for light switch its different story and action and gui need to change instantly.

[2020-07-25 15:29] twa127 commented on #247
yes agree, I think the action bit is okay, if you click on the icon then the lamp reacts as fast as gateway.py posts the message_out, the lag issue is about updating the GUI and that was change by #264

I've made a change to homelist.php rather than db.php to set the status indicators based on clicked status (which should match zone_current_state.mode at the next cycle of boiler.php)

[2020-07-25 17:50] twa127 commented on #324
User guide update
[Using the Sonoff Basic with PiHome.zip](https://github.com/pihome-shc/pihome/files/4976112/Using.the.Sonoff.Basic.with.PiHome.zip)

[2020-07-25 19:12] pihome-shc commented on #324
@twa127 after recent pull request, gui is still the same for me, dependent on boiler.php

[2020-07-25 19:42] pihome-shc commented on #247
i see zone does not have any Foreign keys relation to zone type table, sorry if this was discussed before, this might cause issues.

[2020-07-25 20:28] twa127 commented on #324
Hi

If you look at the code lines 435 to 445 in homelist.php the call to getIndicators($conn, $add_on_mode, $zone_temp_target) uses the locally determined $add_on_mode so can't see why it is waiting for boiler.php

[2020-07-25 20:32] twa127 commented on #247
No don't think I've seen it discussed before, is it something you need changed?

[2020-07-25 20:47] twa127 commented on #324
by the way the change only works for the home screen button, the Sonoff button still has to wait to be polled by boiler.php

[2020-07-25 23:50] pihome-shc commented on #247
so far we are using foreign key to relate table records, but i m open to suggestion, what do you think about this? should we go for this? on same topic we are trying to manage non heating zone in one table and it is bit messy, what do you think of following table structure to keep things clean? this way we will end up with heating_zone_view and add_on_view

[code]

[2020-07-26 07:43] twa127 commented on #247
Hi,

I can see the logic in what you say, first thoughts -

- No need for zone_type table just include cat column in zone table (only added zone_type so as not to mess up existing installations by changing zone table).
- Would need a significant change to the boiler.php as the main while processing loop uses zone_view, perhaps would need 2 while loops
- Would need a data migration process for exis

[2020-07-26 08:27] harvybob commented on #247
How about an implementation of method one on this? Essentially a dB trigger to call boiler.php...

http://www.abrandao.com/2017/09/mysql-mariadb-trigger-external-script-web-from-database/

[2020-07-26 08:54] twa127 commented on #247
Hi
This looks interesting @harvybob but we talking about updating the home screen when a add-on is triggered?

If so, is not my approach simpler - just update messages_out to change the Sonoff state, then work out the new mode and call getIndicators to update the home screen, the rest of the database catches up the next time boiler.php runs

[2020-07-26 10:26] dvdcut commented on #247
i think if we workout one zone_view we dont need two loop in boiler.php in fact boiler.php will stay the same may be some small changes also i would suggest to  leave zone_type table in to avoid changes over and over and save us from hard coding zone type.

[2020-07-26 12:01] pihome-shc commented on #247
if we remove add_on table and move controller_id and controller_child_id to zone table as every zone would have controller, we can avoid any major changes to boiler.php but after this we do need a data migration process for existing installations.

[code]

[2020-07-26 13:33] twa127 commented on #324
Oops I forgot a couple of changes in the last commit, posting an update

[2020-07-26 13:45] twa127 commented on #247
that looks good to me, perhaps move graph_it to the zone table (I remember someone suggesting we might want to graph cat2 zones in some instances)

[2020-07-26 14:06] pihome-shc commented on #247
Do you think splitting zone into 2 tables is best option? I think @dvdcut is right, if we have one zone view we don’t need to make any major changes to boiler.php

What we want to graph for cat2 zone?

[2020-07-26 15:35] twa127 commented on #247
aren't we saying just leave things as they are at present :-))

Just remember someone saying they might want to graph to shown when something switched on and off

[2020-07-26 15:49] pihome-shc commented on #247
@twa127 pretty much yes, but moving sensors and other heating related columns out to second table will make things much clean.
i dont mind leaving graph_it in zone table.

[2020-07-26 16:31] twa127 commented on #247
okay sounds good to me, do you want me to have a go at this ?

[2020-07-26 16:32] twa127 commented on #324
can you let me know if this works better now

[2020-07-26 16:41] pihome-shc commented on #247
do you think this is the best way to approach this? if you think yes, then yes lets work on this, also should we start dev branch for this work?

[2020-07-26 16:59] pihome-shc commented on #324
@twa127 yes that worked perfectly

[2020-07-26 17:29] pihome-shc commented on #247
my thinking was to keep zone table as minimum as possible and move rest of the columns to its its control table (heating or add_on or any other we may have in future)

[2020-07-26 18:01] twa127 commented on #324
great

[2020-07-26 18:03] twa127 commented on #247
I'll give it a bit of serious consideration, I'm all in favor of keeping it all logical

[2020-07-27 08:11] twa127 commented on #247
Hi,

What do you think of this for the new table structure, drop zone table, zone_type left as is and 2 new tables

-- Dumping structure for table pihome.zones
DROP TABLE IF EXISTS `zones`;
CREATE TABLE IF NOT EXISTS `zones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sync` tinyint(4) NOT NULL,
  `purge` tinyint(4) NOT NULL COMMENT 'Mark For Deletion',
  `status` tinyint(4),
  `zone_state` tinyin

[2020-07-27 11:17] twa127 commented on #247
no need for an add_on table as add-ons simple use the basic zones+zone_type tables and anything with a sensor use zones+zone_sensors+zone_type tables

[2020-07-27 12:43] pihome-shc commented on #247
All looks good, may be change name of sensors table to hvac or heating

[2020-07-27 13:05] twa127 commented on #247
not sure about the name as it covers cat0 and cat1 ie any zone which has a temperature sensor attached

[2020-07-27 13:10] pihome-shc commented on #247
ok, if you think zone_sensors is ok, lets keep this name

[2020-07-27 13:16] twa127 commented on #247
okay, I've knocked up a bit of python to migrate the date from the existing zone table, now need to rethink boiler.php, zone.php and homelist.php and zone_view

[2020-07-28 13:50] twa127 commented on #247
I've got something for you all to test :-)))))))

run zones.sql (in phpmyadmin), this will add tables zones and zone_sensors plus a new view zones.view. It also changes the key contraints on the tables zone_logs and add_on_zone_logs (this is the only thing which effects the running of the current version of boiler.php).

run python3 migrate.py to populate the new tables.

update the PHP files to t

[2020-07-28 20:23] pihome-shc commented on #247
@twa127
i have error running that sql file.
[code]

![image](https://user-images.githubusercontent.com/33334232/88717308-424d3d80-d118-11ea-95a1-bcc961cc3eed.png)

[2020-07-28 21:09] twa127 commented on #247
Try this please
[zones.zip](https://github.com/pihome-shc/pihome/files/4991189/zones.zip)

[2020-07-28 21:34] pihome-shc commented on #247
still have the error, do you want me to send you my database file?

[code]

[2020-07-28 21:56] twa127 commented on #247
Yes please, in the mean time just delete the ALTER TABLE line and re-run the sql

[2020-07-28 21:59] twa127 commented on #247
You can change the Foreign Key manually, just change zone to zones
![fk](https://user-images.githubusercontent.com/46624596/88726615-fa351780-d125-11ea-848b-425e3a95081c.JPG)

[2020-07-28 22:00] pihome-shc commented on #247
here is the database i m running your updates,

[pihome_temp.zip](https://github.com/pihome-shc/pihome/files/4991385/pihome_temp.zip)

[2020-07-28 22:09] pihome-shc commented on #247
after removing following 4 lines it worked

[code]

[2020-07-28 22:17] twa127 commented on #247
I couldn't load your sql dump it failed at the zone table.

you can change the 2 FKs manually just need to point at the zones table rather than the zone table

[2020-07-28 22:43] pihome-shc commented on #247
this is happening because zone_log, add_on_logs add_on_zone_logs tables aren't empty, but once i empty these table everything works as expected for sql changes.

[2020-07-29 06:21] twa127 commented on #247
ah, I'll see if there is any other way the change the FKs. If I'd kept the table name as zone there would have been no need to change the FKs but as this is only testing I decided to leave the option to swap back to the old table format, if we decided that this was not the way to go

[2020-07-29 07:09] twa127 commented on #247
Think about it a bit more it would be easier if we kept the table name as zone and the view as zone_view, this way there are less changes and no FKs to mess about with

[2020-07-29 10:55] pihome-shc commented on #247
apart from boiler_log rest of the logs arent used anywhere after 24hours, i think its not very important. i will replicate my live system now and try your first changes

[2020-07-29 11:22] pihome-shc commented on #247
first sql file didnt work but second one worked after i empty log tables.

[2020-07-29 11:33] twa127 commented on #247
okay, I'm thinking that I'll stay with zones and zones_view and work out how to fix the FK key changes

[2020-07-29 12:26] twa127 commented on #247
Please try this SQL, should change all effected FKs
[zones.zip](https://github.com/pihome-shc/pihome/files/4994800/zones.zip)

[2020-07-29 12:34] pihome-shc commented on #247
after all logs tables are empty, last update gives this error.

![image](https://user-images.githubusercontent.com/33334232/88800511-33aa6900-d1a0-11ea-8bcd-0e816f1b6d36.png)

[2020-07-29 12:41] twa127 commented on #247
Looks like it failed on the BOOST table, which is executed next after the log tables. Running okay for me without emptying any of the tables. How are you running the sql, I'm using phpmyadmin

[2020-07-29 13:18] pihome-shc commented on #247
i m using software https://www.heidisql.com but it shouldn't make any difference.

[2020-07-29 16:23] twa127 commented on #247
I'm going to re-think the migration process a bit by keeping the existing zone table but remove the columns which have now moved to zone_sensors, this way the FKs don't get disturbed and the constraints to the other tables will not be a problem

[2020-07-29 19:32] twa127 commented on #247
Please give this a try, I've saved the existing zone table to zone_temp, run zone.sql first then python3 migrate.py to populate zone_sensors table. I've changed the php files back to use the new zone table and the new version of zone_view. Hopefully I've avoided most of the FK issues.

[Zone Table Update2.zip](https://github.com/pihome-shc/pihome/files/4997034/Zone.Table.Update2.zip)

[2020-07-30 00:55] pihome-shc commented on #247
this time sql file worked and i can see zone_temp and all the entries but when i run python3 migrate.py
you need to change line 40   from row[7] to row[6] and on same note make following changes as well 46 to 51
                max_c = row[9]
                max_operation_time = row[10]
                hysteresis_time = row[11]
                sp_deadband = row[12]
                sensor_id = row[

[2020-07-30 12:37] twa127 commented on #247
Morning

Remember row[] index starts at 0, my migrated zone_sensor table gets the values from zone_temp in the correct order

[2020-07-30 12:39] twa127 commented on #247
Have you got the zone_status column in your original zone table, this was added 15th June

[2020-07-30 15:25] twa127 commented on #247
The problem is that you have zone_status as the last column and I have it after the status column :-)

I've modified migrate.py to use column names, which fixes the problem

[migrate.zip](https://github.com/pihome-shc/pihome/files/5002202/migrate.zip)

[2020-07-30 15:30] twa127 commented on #247
Do you think this change is worth the disruption?

I think it probably is worth doing as the new 2 table version is a bit more logical, especially in the case of cat2 add-on zones where there is no sensor

[2020-07-30 15:42] pihome-shc commented on #247
for heating zone would have records in zone_sensors and all other type of zone only record in zone table. reason zone table have controller attached as every zone would have something to control but cat2 or cat3 only controller but not sensor or any heating related.
are you suggesting something else, sorry i didnt get what you mean.

[2020-07-30 16:03] twa127 commented on #247
No I think this looks okay as it is and with my Mr Spock head on, it is more logical

For new installs I don't see any problem, I was just a bit concerned that the update for existing setups is not straight forward and perhaps some users might not see the value.

[2020-07-30 16:15] pihome-shc commented on #247
i have some users still at version 1.0 so if we can offer upgrade path then its up to user if they want to user up or not, only little bit unlogical i see is zone_sensors table, its not only sensors its more of HVAC related setting in that table.

[2020-07-30 16:27] twa127 commented on #247
happy to change the name, if you have something in mind

[2020-07-30 17:03] pihome-shc commented on #247
for me zone_sensors is ok as well.

[2020-07-30 17:34] twa127 commented on #247
okay, I'll leave as is and try to make the migration process a bit slicker

[2020-07-31 18:37] twa127 commented on #247
Hi,

Please give this a try, I could not get the sql import to work in python, so swapped to php. Just put migrate_db.php and migrate.sql in the same directory and run the php file.
[migrate.zip](https://github.com/pihome-shc/pihome/files/5008500/migrate.zip)

[2020-07-31 18:50] pihome-shc commented on #247
@twa127 great work, it worked without any issue.

root@pihome:/var/www/MySQL_Database# php migrate_db.php

[code]
zone table after migration
![image](https://user-images.githubusercontent.com/33334232/89067163-a9f8c800-d366-11ea-82f5-de5b556e1739.png)

zone_sensors table after migration
![image](https://user-images.githubusercontent.com/33334232/89067210-c137b580-d366-11ea-9f84-43bb513b376a.png)

[2020-07-31 18:54] pihome-shc commented on #247
one question, how tasmota nodes are saved in node table?

[2020-07-31 18:59] twa127 commented on #247
Using the Nodes settings, the same as GPIO and I2c

[2020-08-01 09:56] twa127 commented on #247
Hi,

How do you want to go from here?

[2020-08-01 11:10] pihome-shc commented on #247
i m happy with the work you have do so far, anything else you want me to test before you can do pull request ?

[2020-08-01 11:16] twa127 commented on #247
Attached zone.php which is the last thing (I think)
[zone.zip](https://github.com/pihome-shc/pihome/files/5010281/zone.zip)

[2020-08-01 11:27] pihome-shc commented on #247
one error on zone_log_view

![image](https://user-images.githubusercontent.com/33334232/89100805-30a6b700-d3f2-11ea-8868-5af9c84371d6.png)

same on phpmyadmin
![image](https://user-images.githubusercontent.com/33334232/89100829-559b2a00-d3f2-11ea-8b3b-fc8c58eac4ed.png)

[2020-08-01 11:34] pihome-shc commented on #247
done some testing on zone.php all worked good. two things not working and i m not sure if they are related to this update.
1. temperature graph,
2. background graph colour where heating was on, i think this is related to zone_log_view

[2020-08-01 14:27] twa127 commented on #247
attached sql to fix log views

[logs_fix.zip](https://github.com/pihome-shc/pihome/files/5010679/logs_fix.zip)

[2020-08-01 15:36] twa127 commented on #247
Please let me know when ready for me to commit the changes

[2020-08-01 15:37] pihome-shc commented on #247
that fixed the zone_log issue, but temperature graph is still empty,

[2020-08-01 15:39] pihome-shc commented on #247
this will be version 1.76 and do you want to dedicate this to ?

[2020-08-01 15:41] twa127 commented on #247
anything you like :-)

[2020-08-01 16:10] pihome-shc commented on #247
version 1.76 dedicated to [Amur Leopard](https://www.worldwildlife.org/species/amur-leopard)
fix for temperature graph is simple, just change line 48 from zone to zone_view in chart_load.php
dont know why background colour for boiler time isnt loading.

[2020-08-01 16:26] twa127 commented on #247
Okay I’ll have a look when I get home

Sent from my iPhone

[2020-08-02 06:41] twa127 commented on #247
Hi,

The change to line 48 was in the zip of initial files I sent, with this change the graphs work okay for me, including the boiler background colour

[2020-08-02 08:26] twa127 commented on #247
How about if I add the dedication to the languages files so easier to change in the future ?

[2020-08-02 11:46] pihome-shc commented on #247
Thank you, may be I missed that change somehow. You can do pull request now and i will do text for version 1.76 later.

Sorry didn’t understand what do you mean by “How about if I add the dedication to the languages files so easier to change in the future ?” Are you planning to sync these language files?

[2020-08-02 12:30] twa127 commented on #247
Hi,

I meant the dedication message at the bottom of the screen which is currently hard coded, if I include it in $lang['dedicated_to'] then easy to change in future

I'll have a go at the other language files in a future commit, for the moment I'll just include the english text

[2020-08-02 12:50] twa127 commented on #247
Okay committed with a migration readme

[2020-08-02 12:54] pihome-shc commented on #247
that dedicated message can be moved out to its own file same as notice.php and we only need to include this file in all other pages.

[2020-08-02 15:24] twa127 commented on #247
okay, sort that next commit :-)

[2020-08-02 20:16] pihome-shc opened #355 "Releases 1.76"
Let me know if i missed something
PiHome community always working hard to improve some of exiting feature to make things better and improve your smart home experience. If you have any feedback or run into any issues you can always find help on PiHome site. This release packed with some serious improvements and bug fixes, to name some of them as follow:

# Highlights in This Release
There are over

[2020-08-03 18:40] pihome-shc opened #356 "database migration"
if i migrate database it works, but later if try to update database i have some errors. see migration output and update

[code]

[2020-08-03 18:48] pihome-shc commented on #356
after migration it works and here are some screenshots after migration
![image](https://user-images.githubusercontent.com/33334232/89216189-e7a55d00-d5c1-11ea-8c55-d4695e1c5ad6.png)
![image](https://user-images.githubusercontent.com/33334232/89216240-f55ae280-d5c1-11ea-974e-548b54254b2a.png)
![image](https://user-images.githubusercontent.com/33334232/89216290-07d51c00-d5c2-11ea-947f-fb085db3fa03.p

[2020-08-03 18:51] pihome-shc commented on #356
if i run update_db.php once migrate_db.php is successful
![image](https://user-images.githubusercontent.com/33334232/89216559-8467fa80-d5c2-11ea-979b-8c68fcb6fe9e.png)
![image](https://user-images.githubusercontent.com/33334232/89216589-8f228f80-d5c2-11ea-9a23-e4d26f283fcc.png)
and zone_view does not exit

[2020-08-03 20:42] twa127 commented on #356
Found error in pihome_mysql_database.sql committed a fix can you try again please

[2020-08-03 20:51] twa127 commented on #356
Removes all the errors except

MySQL Database Error with Query ALTER TABLE `zone` MODIFY CONSTRAINT `FK_zone_nodes_2` FOREIGN KEY (`controler_id`) REFERENCES `nodes` (`id`);

[2020-08-03 21:01] twa127 commented on #356
Moved the FKs around for the zone table in pihome_mysql_database.sql this appears to have fixed the problem

[2020-08-03 21:53] pihome-shc commented on #356
migrate and then updated without any issues. great work @twa127,

[2020-08-05 00:33] #355 closed

[2020-08-05 00:33] #356 closed

[2020-08-05 22:46] pihome-shc opened #362 "Zone type hardcoded in homelist"
as of today [homelist.php](https://github.com/pihome-shc/pihome/blob/376c70d617c2cba9bd5fe15d1af3893b92cd23a6/homelist.php#L243) have zone_type hardcode, should this be cat 0, cat 1

[code]

[2020-08-06 12:03] twa127 commented on #362
Yes very true, I'll update

[2020-08-06 12:32] pihome-shc opened #364 "Issue since v1.76 update"
Received this from one user.

Hats off to you and the team on the latest release. Its really getting slick.

I've been following the github discussions with interest, and updated from 1.75 to 1.76 as soon as you sent the notification.

I noticed a few things since the update - but I'm not very familiar with github - I didn't know if I should raise these queries as bugs, but I figured I'd run them

[2020-08-06 14:05] twa127 commented on #364
Hi,

Not sure why the graphs should be a problem
Network settings table not effected by either migrate or update so should remain in the same state as before or be empty
Not sure what you mean about node_id
zone_graphs table should not be effected by either migrate or update, I'll investigate
I fixed the http message GUI yesterday #360

[2020-08-06 14:19] twa127 commented on #364
I think I can see the problem with the zone graphs, the query in gateway.py need to be amended to reflect the split zone table, I'll sort this out asap

[2020-08-06 15:03] twa127 commented on #364
The current version of gateway.py uses absolute values to reference the columns in the select query used for zone_graphs table, I'll change this to reference the columns by name, just in case this is causing a problem

[2020-08-06 16:08] twa127 commented on #364
the node_id table was added at #321 MySensors Nodes without ID and is populated as required by gateway.py

[2020-08-06 18:09] scottagecheeseandcrackers commented on #364
Hey guys - in the interest of working out any kinks - here is my SQL database backup from prior to the update. I hope this helps.
[pihome_2020-08-05_08-27-35.zip](https://github.com/pihome-shc/pihome/files/5037040/pihome_2020-08-05_08-27-35.zip)

@twa127 - I gave the sonoff / tasmota add-on a try. I managed to set-up a hallway lamp. The add 'zone http message' button would not allow me to save the

[2020-08-06 18:47] pihome-shc commented on #362
@twa127 thank you for fixing this.

[2020-08-06 18:47] #362 closed

[2020-08-06 18:48] pihome-shc commented on #364
@twa127 graph issue is fixed after #365

[2020-08-06 19:43] twa127 commented on #364
hi
@scottagecheeseandcrackers  I notice there is no 'zone_graphs' table in your database dump.

After #360 update you may need to delete your browser history to pickup the change to js/request.js, this should fix the http message GUI

[2020-08-07 06:44] twa127 commented on #364
@scottagecheeseandcrackers when trying to debug your Sonoff, the first thing to check is that you have an entry in the messages_out table, this should have been created by the Add Zone process. Example below shows id = 92 entry for the Sonoff zone. You can manually set the Sonoff state by setting the payload to either 'Power ON' or 'Power OFF' and setting 'sent' to 0, gateway.py will then set the

[2020-08-07 11:32] HiQual commented on #250
Hello @scottagecheeseandcrackers - did you have time to make any progress with the Xiaomi sensors?

[2020-08-08 08:28] twa127 opened #366 "max_operation_time for zones"
Hi,

I've introduced a small issue with the change to the zone table.

I've placed max_operation_time in the new zone_sensors_table but left in on the zone add/edit screen for all zones. The issue is that when adding/edititing cat2 zones the zone_sensors_table is not updated.

Not too much of a problem as for as far as I can see the value is not currently used anywhere.

There are 2 possible solut

[2020-08-08 11:11] pihome-shc commented on #366
@twa127 yes i agree 2nd option is better.

[2020-08-08 11:12] pihome-shc commented on #364
Any more work needed for this issue or. Can I close this issue?

[2020-08-08 11:31] twa127 commented on #364
I think we have solved the issues mentioned in the original post

[2020-08-08 12:21] #364 closed

[2020-08-08 13:14] twa127 opened #368 "Zone with more than 1 controller"
Hi,

What do you think about the option to link more than 1 controller to a single zone. Thinking about switching on a number of lamps all using the same schedule, for example lounge lamps to switch on/off 3 individual lamps with the same voice command or schedule?

[2020-08-08 13:38] pihome-shc commented on #368
I m thinking how that is going to work?

[2020-08-08 13:41] twa127 commented on #368
No idea as yet :-)) just wondered if anyone thought it was worthwhile

[2020-08-08 13:45] scottagecheeseandcrackers commented on #364
Apologies guys - was under a rock - missed the messages above.

@twa127  - Sonoff issue fixed with #360 - many thanks - really cool feature (I now have to see how many things around the house I can tasmota-ize)

zone_graphs is showing readings for the majority of my temperature sensors (for some reason one of them is missing)
But the graphs on the gui only show 2 temperature readings.
Also I'm not

[2020-08-08 14:02] pihome-shc commented on #364
@scottagecheeseandcrackers zone type nme are hard coded as heating and water make sure you have these two names as heating and water

[2020-08-08 14:11] twa127 commented on #364
should have been no impact on battery voltage graphs, do you have anything in the nodes_battery table?

[2020-08-08 14:40] scottagecheeseandcrackers commented on #364
@pihome-shc - my zone type table has these listed as 'Heating' and 'Hot Water'

![Screenshot_20200808-153705_Chrome](https://user-images.githubusercontent.com/16407242/89713125-87ca0000-d98d-11ea-8846-40ab58cb49cf.jpg)

[2020-08-08 14:41] scottagecheeseandcrackers commented on #364
@twa127 - nodes_battery table fully populated for all sensors.

[2020-08-08 14:44] pihome-shc commented on #364
Change hot water to water in zone_type table

[2020-08-08 14:58] twa127 commented on #364
Hi,

That's not going to work for all the current records in the zone_graphs table, might be a good idea to change the string test to look for sub-strings 'heating, 'water' and 'Immersion'

[2020-08-08 15:11] scottagecheeseandcrackers commented on #364
Sorry @twa127 - that went over my head...

[2020-08-08 15:20] twa127 commented on #364
he he

Try using this for chart_load.php
[chart_load.zip](https://github.com/pihome-shc/pihome/files/5045443/chart_load.zip)

[2020-08-08 15:48] twa127 commented on #364
I've looked at chart_batteryusage.php again and still can't see anything which should cause you to loose them after migrating the database. Can you post the first few records from your nodes_battery table please

[2020-08-08 16:40] twa127 commented on #368
Some grey matter churn :-)

- New table - zone_controllers, like zone sensors but has controler_id and controler_child_id values currently in zone table
- Drop controler_id and controler_child_id columns from zone table
- Add num_controllers column to zone table
- Zone Add/Edit screen modified to allow entry for more than 1 controller
- Modify boiler.php - no real change to zone processing, change

[2020-08-08 17:50] scottagecheeseandcrackers commented on #364
@twa127
#
![Screenshot_20200808-184900_Chrome](https://user-images.githubusercontent.com/16407242/89716789-fddb6080-d9a7-11ea-96e6-b57583a5ae1c.jpg)

[2020-08-08 17:58] twa127 commented on #364
That looks fine, I'll investigate further, did the updated chart_load.php fix your missing temperatures?

[2020-08-08 18:08] twa127 commented on #364
Can you send me a screen shot of your nodes table please

[2020-08-08 18:10] scottagecheeseandcrackers commented on #364
Just rebooted the system to see any changes - I can now see my hot water temp reading alongside the outside temp.

Still missing a sensor reading though - perhaps it will appear as new readings are received.

[2020-08-08 18:12] scottagecheeseandcrackers commented on #364
![Nodes_table_snip](https://user-images.githubusercontent.com/16407242/89717099-0da87400-d9ab-11ea-8422-a8725e40b3cd.JPG)

[2020-08-08 18:16] twa127 commented on #364
ah there is a check in chart_batteryusage.php for a valid min_value

$querya ="select * from nodes where `type` = 'MySensor' AND `name` LIKE '%Sensor' AND `min_value` <> 0;";

you need to set a min_value for all your nodes which are battery powered, hopefully that should fix the problem

[2020-08-08 18:45] scottagecheeseandcrackers commented on #364
Is the min_value for voltage or temp?

[2020-08-08 18:56] scottagecheeseandcrackers commented on #250
@HiQual - afraid not. I have zero coding skills to figure this one out. I did come across this article which shows you how to set it up for Home Assistant. ( https://esphome.io/components/sensor/xiaomi_lywsdcgq.html ) The answer may lie there. Unfortunately I don't think any of my Banggood / Ali Alibaba order will be coming through anytime soon.

[2020-08-08 18:56] twa127 commented on #364
% battery level threshold say for example 75, when the level falls below 75% it triggers a notification

[2020-08-08 19:14] scottagecheeseandcrackers commented on #364
That fixed the voltage charts. Thanks

[2020-08-08 19:19] twa127 commented on #364
great, so you happy with 1.76 now?

[2020-08-08 19:22] scottagecheeseandcrackers commented on #364
Great work. Fantastic build. Its really starting to out-perform other platforms.

[2020-08-08 19:37] twa127 commented on #364
glad you like it :-)

[2020-08-08 22:37] pihome-shc commented on #368
i have been thinking about this whole afternoon, i think we are back to [issue 247](https://github.com/pihome-shc/pihome/issues/247#issuecomment-663917830), but on same note what if we can offer some sort of groping on non heating zone?

[2020-08-10 19:19] twa127 commented on #368
Hi,

Bit of an update

I've created a new table zone_controllers and migrated the controler_id, controler_child_id and zone_id from the existing zone table
![z_cont](https://user-images.githubusercontent.com/46624596/89820712-5a27b700-db45-11ea-8c37-c3b3c52d03f8.JPG)

- You can see I have 2 controller allocated to zone 56, one as a Sonoff, the other is a MySensors relay
- In boiler_php within the

[2020-08-10 19:32] pihome-shc commented on #368
@twa127 can you share your final table structure ?

[2020-08-10 20:02] twa127 commented on #368
DROP TABLE IF EXISTS `zone_controllers`;
CREATE TABLE IF NOT EXISTS `zone_controllers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sync` tinyint(4) NOT NULL,
  `purge` tinyint(4) NOT NULL COMMENT 'Mark For Deletion',
  `zone_id` int(11),
  `controler_id` int(11),
  `controler_child_id` int(11),
  PRIMARY KEY (`id`),
  KEY `FK_zone_controllers_nodes` (`controler_id`),
  KEY `FK_zone_controllers_zo

[2020-08-10 20:50] pihome-shc commented on #368
i m struggling to understand things here, i mean you are trying have one zone with multi controller to switch on multiple things at the same time. but how we are going to manage this while creating zone?

i would suggest to have option for group any number of things and then assign each zone under that group and in schedule and all other places we will have individual zone and group name appears a

[2020-08-10 21:08] twa127 commented on #368
table structure is as I proposes, with the exception of max_operation_time which moves to the zone table

In zone add/edit for cat2 zones we have the option to add/edit more than 1 controller

[2020-08-10 21:17] pihome-shc commented on #368
Ok i m happy with that approach as well, so understand schedule and other places it will be treated as one zone with multiple controller?

[2020-08-10 21:32] twa127 commented on #368
yep that was my thinking, was just trying to avoid having to say setup 3 individual schedules to turn on 3 lamps at the same time. But more than happy to consider another approach if you have an alternative idea

[2020-08-10 21:36] pihome-shc commented on #368
I m happy with this approach, I wasn’t sure how single zone will have multiple controller, i think we can have plus + icon beside controller field to have option for user to add/edit multiple controller.

[2020-08-10 21:44] twa127 commented on #368
okay I'll carry on. As a first release how about changing the table structure, update boiler.php and zone.php but keeping the single zone controller until I workout the switching logic ?

[2020-08-10 22:37] pihome-shc commented on #368
yes that can work as well.

[2020-08-11 12:19] twa127 commented on #368
Attached phase1 update, migrate_controller.php will create the new zone_controllers table, migrate the date, drop controler-id, controler_child_id and FK from the zone table, it will also run  migrate_controller_view.sql to update the zone_view. Copy other files to correct locations. Should carry on working as before but now boiler.php can handle more than 1 controller per zone, there is no GUI ye

[2020-08-12 15:35] twa127 commented on #368
I've done a bit more work on boiler.php and homelist.php to sort out the cat2 zone switching logic, the flow is now as below. Sill need to modify zone.php to allow for multiple controller ids

![flow6](https://user-images.githubusercontent.com/46624596/90035270-89f7cb80-dcb9-11ea-947f-021495aa8016.jpg)

[controllers.zip](https://github.com/pihome-shc/pihome/files/5063756/controllers.zip)

[2020-08-12 15:38] twa127 commented on #368
I've still got an issue with boiler.php when it finishes a schedule, it is currently leaving leaving with the zone in manual start mode - working on this

[2020-08-12 16:35] pihome-shc commented on #366
@twa127 any further update required for this issue?

[2020-08-12 16:55] pihome-shc commented on #368
@twa127 very detailed process,

[2020-08-12 17:29] twa127 commented on #368
Just a pity it don't work as it shoule :-)))

[2020-08-12 19:01] twa127 commented on #366
No I think all resolved now

[2020-08-13 17:28] twa127 commented on #368
I now have a cat2 zone switching process which appears to work okay, it allows for

- Manual ON/OFF for all controller associated to a zone
- Zone schedule which sets all controller associated to a zone
- Override for a zone which sets the state of all controller associated to a zone

I'm not sure how to handle the button on the Sonoff itself. The options are to control the state of the controller

[2020-08-13 23:18] #366 closed

[2020-08-14 12:03] twa127 commented on #368
Hi,

I'm trying to make zone.php work for multiple controllers, but am struggling with the code, does anyone have any suggestions, this is basically what I want it to look like
![zone1](https://user-images.githubusercontent.com/46624596/90247315-38bd1880-de2e-11ea-8cbe-93d027232c7a.JPG)

I would have more hidden inputs across the page which I would make visible when a value was selected for the pr

[2020-08-15 23:05] pihome-shc commented on #368
on form: is it because we have edit and add in same file? why not add + sign and keep that in loop?
here is two example
https://bootsnipp.com/snippets/ykXa
https://stackoverflow.com/questions/35265094/dynamic-form-field-on-bootstrap

[2020-08-16 07:21] twa127 commented on #368
No have add and edit in the same file does not make much of a difference, I have been able to place multiple inputs for controller id by using a row construct, looks okay on PC but no good on phone, I've attached what I've done so far, only the controller id and child id fields code work for add zone, I've not fixed the rest of the form yet. It might be better to go with your first example, I'll h

[2020-08-18 22:40] pihome-shc commented on #368
just tested you zone file, there is not option to remove zone as in my examples. also another suggestion would be to go vertical instead of horizontal

[2020-08-19 13:30] twa127 commented on #368
Hi,

I've now gone with a vertical layout a bit like the example https://bootsnipp.com/snippets/ykXa

I could not get the example to work properly within zone.php, so I've produced something similar. I think it is working okay in zone add mode but have not yet worked on zone edit mode. I've also added another field to the zone_controllers table as 'state' tinyint(4), I've modified the migrate code

[2020-08-19 21:14] pihome-shc commented on #368
i haven't done migration testing but zone add works, only one observation when i add controller the child id stacked below first child id, any way controller and child id stay together and when adding second controller it expand second controller and child id rather then controller 1 and controller 2 and child id 1 and child id 2.

![image](https://user-images.githubusercontent.com/33334232/906900

[2020-08-20 06:44] twa127 commented on #368
I'll see what I can do :-)

[2020-08-20 15:24] twa127 commented on #368
Please give this a try and let me know what you think, edit zone partially works now, you can edit existing zones and add new controllers but deleting does not yet work..

[zone.zip](https://github.com/pihome-shc/pihome/files/5103956/zone.zip)

[2020-08-20 23:04] pihome-shc commented on #368
adding zone gives option for + and looks good, but when i go editing any existing zone i dont see + for adding extra zone,
ps i have made any changes to database from your previous update as my dev system decided to take unplanned holidays :(

[2020-08-23 17:44] twa127 commented on #368
Attached the latest complete set of files for the multiple controllers change, I've added another field to the zone_controllers table and updated the migration script.

I think this is now at the serious testing stage, the one outstanding issue is how to manage the manual button on the Sonoff itself, I need to give that some more thought.

Please give it a try if you get chance.
[update.zip](https

[2020-08-24 00:02] pihome-shc commented on #368
if i run migrate controller script on my live database:
[code]
here are the results of updating database:

[code]
after updating database the migrate controller scripts run ok without any error, it delete controller id and child id from zone table and create zone table but do not migrate controller related info into controller table. i have attached the database as well if you want to experiment
[

[2020-08-24 11:24] twa127 commented on #368
Found the problem - the migration script was expecting the database to have been created with the latest version of migrate_db.php which has the max_operation_time left in the zone table. The attached should now work okay, please let me know.
[migrate_controller.zip](https://github.com/pihome-shc/pihome/files/5117448/migrate_controller.zip)

[2020-08-24 21:22] pihome-shc commented on #368
@twa127 i believe my live database is up-to date, is there anything i missed in db update?
last migrate_controller.php worked as expected.

[code]

[2020-08-25 05:35] thot1 opened #374 "cant add Zone Type"
after a fresh installation (Version 1.76 build 20820) its not possible to add a Zone Type

[2020-08-25 06:42] twa127 commented on #368
When I initially did the migration of the database to separate out the zone_sensors table, the field max_operating_time was moved from the zone table to the new zone_sensors table, I've since moved it back to the zone table as it made more sense to leave it there. I updated migrate_db.php, but unless you restored to the pre-updated database and re-ran migrate_db,php you would have max_operation_ti

[2020-08-25 08:01] twa127 commented on #374
Committed a fix

[2020-08-25 13:36] twa127 commented on #368
I've now updated my live system, so I'll let you know how it goes

[2020-08-25 14:56] scottagecheeseandcrackers opened #376 "Error in Boiler.php and temperature sensors not populating to GUI"
Hey guys - seems an odd error has literally appeared on my system overnight.

Boiler.php is giving the following error (despite system being up-to-date):
root@pihome:/var/www/cron# php boiler.php

   _____    _   _    _
  |  __ \  (_) | |  | |
  | |__) |  _  | |__| |   ___    _ __ ___     ___
  |  ___/  | | |  __  |  / _ \  | |_  \_ \   / _ \
  | |      | | | |  | | | (_) | | | | | | | |  __/
  |_

[2020-08-25 15:40] scottagecheeseandcrackers commented on #376
Possibly may have found one of the issues - "max_operation_time" was set to null for all of my zones.

Also I note that the temperature sensors are no longer assigned to each zone - despite being correctly assigned 24 hours previous.

Tried assigning the correct temperature sensor from the populate list under pihone/setting/node and zone configuration/zone edit - but i will not let me save due to

[2020-08-25 18:41] twa127 commented on #376
I've fixed the zone update issue it was related to the move of the max_operation_time from zone_sensors back to zone table

[2020-08-25 18:51] twa127 commented on #376
can you check if you still have the max_operation_time field in the zone_sensors table, if so the zone_view will fail, just drop max_operation_time field from the zone_sensors table and make sure you have sensible values in the zone table

[2020-08-25 19:22] pihome-shc commented on #374
@twa127 thank you for working on this, @thot1 #375 fixed your issue?

[2020-08-25 19:42] thot1 commented on #374
Yes, your changes fix the issue. ;-)

[2020-08-25 19:42] #374 closed

[2020-08-25 20:05] scottagecheeseandcrackers commented on #376
Thanks for getting back to me guys.

My zone_sensors table is empty for some reason.

Possibly because none of the sensors appear to be linked to each zone. When I try to assign a sensor to a zone I get an error.

![image](https://user-images.githubusercontent.com/16407242/91222143-a6aeed00-e716-11ea-8c9e-8ea71fbc89d9.png)

![image](https://user-images.githubusercontent.com/16407242/91222156-ac0c3

[2020-08-25 20:19] twa127 commented on #376
I think your problems are related to the order in which you have applied the updates, the best solution is to restore your database to before you ran migrate_db.php ie with the sensor data in the zone table, then re-run migrate_db.php

[2020-08-25 20:27] twa127 commented on #376
there was an error in the last zone.php, now fixed

[2020-08-25 20:28] scottagecheeseandcrackers commented on #376
Shoot...

My process so far has been as per the release update notes (ie. git pull origin, migrate then update)

I haven't restored my database before. Am I right in thinking I simply need to unzip the sql dump files and replace all files in the MySQL_Database folder?

[2020-08-25 20:37] pihome-shc commented on #376
@scottagecheeseandcrackers you nees to unzip and important sql dump file back via phpmyadmin or sql software.

[2020-08-25 21:04] twa127 commented on #376
if doing it on the pi

1. open the sql dump file in an editor ie nano
2. add use pihome; to top of the file, ie first line is use pihome;
3. use the command sudo mysql -u root -ppassw0rd < xyz.sql (where zyz is the name of the dump file)

[2020-08-25 22:42] pihome-shc commented on #376
if i run migrate database script i have error in running this php script. but if i remove max_operation_time variable from line 204 and i run upgrade and then update it all workout ok.
[code]

[2020-08-26 06:21] twa127 commented on #376
Hi

I loaded pihome_2020-08-25_06-23-58.sql and that looks okay to me and the zone_sensors table has values, the only thing that you need to do is update the max_operation_time field in the zone table to say 60

[2020-08-26 19:13] twa127 commented on #376
@scottagecheeseandcrackers did you get it sorted ?

[2020-08-26 19:19] twa127 commented on #368
Setup a Lamp zone with 1 MySensor and 2 Tasmota controllers attached, all seams okay at the moment I can schedule, start from the GUI or voice command them as group. I'll keep you updated

![zone4](https://user-images.githubusercontent.com/46624596/91346888-65cbdc80-e7d9-11ea-821f-2f93a5f83207.JPG)

[2020-08-26 19:43] pihome-shc commented on #368
@twa127  That looks very good. How about backend?

[2020-08-26 20:02] twa127 commented on #368
I now have a working boiler.php, will convert it back from BB to RPi and post a copy

[2020-08-26 20:41] twa127 commented on #368
okay RPi boiler.php attached, if you execute with a parameter (anything will do) it runs with debug messages eg php boiler.php debug

[boiler.zip](https://github.com/pihome-shc/pihome/files/5132690/boiler.zip)

[2020-08-26 21:06] pihome-shc commented on #368
i think i have problem with migrate_controller.php it says all ok but zone controller table is empty,

[2020-08-26 21:11] pihome-shc commented on #368
spoke to soon, i just replicated my live database to dev and did update. and then migrate controller and all worked and boiler.php is working as  well.

[2020-08-26 21:20] scottagecheeseandcrackers commented on #376
@twa127 @pihome-shc  - many thanks for all the help. System now working 100%. Updated, Imported the updated database and all my zones started showing temps. Couldn't get any zones to trigger - but eventually figured out that the database in question was still using wiring pi gpio pin numbers. Once this was sorted the system sprung to life. Thanks for all the help.

[2020-08-26 21:20] #376 closed

[2020-08-26 21:25] twa127 commented on #368
please let me know if you find any problems

[2020-08-27 19:50] twa127 opened #381 "Use Sunset for Cat2 Zone Schedule Start Time"
What do you think about having the option to use the sunset time available from weather as a schedule start time. Thought it might be useful to have lamps scheduled to come on at sunset.

[2020-08-27 20:19] pihome-shc commented on #381
What if users don’t have weather api set?

[2020-08-27 20:30] twa127 commented on #381
Just make it optional, so no weather api then dont select or maybe check for weather api

[2020-08-27 20:35] pihome-shc commented on #381
no doubt it would be good option for sun set/sun rise.

[2020-08-28 07:12] twa127 commented on #381
This what I have -

1. Add new field to 'enable_sunset' to table 'schedule_daily_time'
2. In boiler.php and scheduling.php use getWeather() function to return current weather
3. if returns 0 then functionality remains as before
4. if returns data the enable new checkbox in scheduling.php to enable sunset override of start time when start time value is set to some value later than sunset ie set the

[2020-08-28 09:23] scottagecheeseandcrackers commented on #368
@twa127 / @pihome-shc  - I understand the great work you have set out above was primarily aimed at simultaneous control of multiple sonoff lights. Is there a way that this process could also be used for heating zones? Ie. if you have multiple zones simply measuring temperature in different rooms but these are all grouped under one zone valve (eg. ground floor) - that any one of the individual room

[2020-08-28 10:58] twa127 commented on #368
thinking out loud -

1. Yes could work
2. Would need to identify the active controller some how, perhaps in the nodes table, but that might be difficult for GPIO controllers, or f we used the zone_controllers table, we would need to identify the active controller in the add/edit zone screen
3. Would need some sort of simple way to swap the active controller without having to edit the zone

[2020-08-28 13:26] twa127 commented on #381
Attached something for you to test. You need to add a new field to the schedule_daily_time table, call it enable_sunset with a type of TINYINT 1

I've changed the validation from using getWeather() to reading the weather table and checking it has been updated in the last hour.

[sunset.zip](https://github.com/pihome-shc/pihome/files/5142277/sunset.zip)

[2020-08-28 21:41] pihome-shc opened #383 "German translation"
Thanks to Kevin for translating PiHome into German language.
www.kevinagar.uk

[2020-08-28 21:44] #383 closed

[2020-08-29 07:11] twa127 commented on #381
Fix for boiler.php query not checking time variable correctly
[boiler.zip](https://github.com/pihome-shc/pihome/files/5144876/boiler.zip)

[2020-08-29 09:32] twa127 commented on #368
Perhaps we should not have all these dummy zones which are really only used to display room temperatures. We could display the dummy zones as controllers perhaps to the right of the boiler tile and be able to swap the active zone controller for the 'real' zones (which we can do anyway from the zones GUI).

[2020-08-29 09:52] pihome-shc commented on #381
Gui works as expected, but i have errro while creating schedule

[code]

[2020-08-29 09:56] pihome-shc commented on #381
ignore my last comments, i was modifying wrong database (enable_sunset ) but after switching to right one it worked :)
one suggestion though, can we add sun rise icon in front of the zone name on schedule list.

[2020-08-29 12:24] twa127 commented on #381
How about
![sched2](https://user-images.githubusercontent.com/46624596/91636749-e9b0df00-e9fa-11ea-8570-749a0ca58b27.JPG)

[2020-08-29 12:34] pihome-shc commented on #381
I think sunrise just before schedule name would be better same way we have coop icon.

[2020-08-29 12:52] twa127 commented on #381
Can't say I'm keen in this
![sched3](https://user-images.githubusercontent.com/46624596/91637222-eddefb80-e9fe-11ea-84ff-4abddf8e1cb0.JPG)

[2020-08-29 13:25] pihome-shc commented on #381
I wasn’t expecting it look like this, :( also do we have sunrise icon ?

[2020-08-29 15:39] twa127 commented on #381
I think it looks better to keep the zone names in the same position, so icon would look better in the circle or after the name. The icon should really be sunset not sunrise, I'm sure we can find something suitable. This looks slightly better, but still prefer the first attempt

![sched4](https://user-images.githubusercontent.com/46624596/91640544-3c4bc480-ea16-11ea-9c43-1909c01a8b24.JPG)

[2020-08-29 15:46] twa127 commented on #381
Lost my internet for a few hours ;-( how about
![sched5](https://user-images.githubusercontent.com/46624596/91640665-2f7ba080-ea17-11ea-8635-11b15d066296.JPG)

[2020-08-29 19:03] pihome-shc commented on #381
@twa127 last one is awesome love it,

[2020-08-29 21:06] twa127 commented on #381
ok happy for me to commit ?

[2020-08-29 21:19] pihome-shc commented on #381
Yes, definitely, update the build number as well.

[2020-08-30 08:15] twa127 commented on #381
I found a bug in boiler.php, I'll test the fix before I commit

[2020-08-30 08:51] scottagecheeseandcrackers opened #384 "Charts not resetting - showing more than 24 hours"
![20200830_093611](https://user-images.githubusercontent.com/16407242/91655034-c727d000-eaa5-11ea-95ba-f36ddec9c4c1.jpg)

Since the update to v1.76 it seems the charts x-axis is showing multiple days. Maybe this is just a scaling issue?

Also I have noticed that the boost icon is no longer showing on the home page.
![SmartSelect_20200830-094320_Chrome](https://user-images.githubusercontent.com/164

[2020-08-30 11:32] pihome-shc commented on #384
@scottagecheeseandcrackers zone graphs are missing due to missing values for that time, can you check zone_graph table. for boost icon, can you check zone_current_state table, you can remove all records from zone_current_state and they will get created in next boiler.php run.

[2020-08-30 12:41] scottagecheeseandcrackers commented on #384
@pihome-shc - you are correct, zone graphs data missing for those times/days. The issue seems to be that the graph starts from over 3 days ago and each day it zooms out further and further. It looks like the zone data starts from the last dB cleanup, but the graph is still showing multiple days before the last cleanup. Zone graph data also missing for a number of zones, even though the temperature

[2020-08-30 12:49] pihome-shc commented on #384
Can you exports database and attach here.

[2020-08-30 13:06] scottagecheeseandcrackers commented on #384
Link to download database file - https://we.tl/t-zacF8H8avu

[2020-08-30 18:02] twa127 commented on #384
easier for me if you mysqldump eg

mysqldump -u root -ppassw0rd pihome > dump.sql

[2020-08-30 19:09] scottagecheeseandcrackers commented on #384
@twa127 - once again thank you for all the help (also @pihome-shc )

[dump.zip](https://github.com/pihome-shc/pihome/files/5147316/dump.zip)

[2020-08-30 20:29] twa127 commented on #384
first thing is I can't open any views

![scott1](https://user-images.githubusercontent.com/46624596/91668845-d63f6a00-eb07-11ea-843b-e35fe3b55a65.JPG)

[2020-08-30 20:45] twa127 commented on #384
re-created the views and that fixed the problem, next thing - you have multiple sensors connected to zones 33, 34 and 35, I guess that is not what you intended
![scott2](https://user-images.githubusercontent.com/46624596/91669093-20c1e600-eb0a-11ea-80d3-9a75866d89bd.JPG)

[2020-08-30 21:09] twa127 commented on #384
explains why you have 2 Ch Hot Water graph zones

[2020-08-30 21:10] scottagecheeseandcrackers commented on #384
@twa127 - I use HeidiSQL typically - for some strange reason it refuses to let me log-in as 'phpmyadmin' using the default password. Yet if I open 192.168.0.129/phpmyadmin - the same login detail work fine. Deleted those extra rows in zone_sensors...no change that I can see yet.

[2020-08-30 21:35] scottagecheeseandcrackers commented on #384
@twa127 - after a bit of sensor cleanup in the zone_sensors table - and a good cache clearing - seems to be looking better

![image](https://user-images.githubusercontent.com/16407242/91669932-ca0bda80-eb10-11ea-944a-d12aa89e4457.png)

Hopefully the missing sensors will populate in the graph now that the correct sensors have been assigned to the right zones.

Any idea why the boost symbol wouldn't

[2020-08-30 21:40] twa127 commented on #384
not yet :-) please post a copy of your cleaned-up database

[2020-08-30 21:43] scottagecheeseandcrackers commented on #384
[pihome.zip](https://github.com/pihome-shc/pihome/files/5147509/pihome.zip)

Hope this sheds a little a light...

[2020-08-30 21:46] twa127 commented on #384
one thing about the boost icon is that it now does not appear immediately but after boiler.php as executed

[2020-08-30 21:49] twa127 commented on #384
can you do a mysqldump please

[2020-08-30 21:54] scottagecheeseandcrackers commented on #384
[dump.zip](https://github.com/pihome-shc/pihome/files/5147527/dump.zip)

[2020-08-30 22:02] twa127 commented on #384
You have multiple entries  in the boost table for the same zone_id

[2020-08-31 06:15] scottagecheeseandcrackers commented on #384
Yes - I have different boost option set (ie. Ch. Hot Water boost for 30 mins or Ch. Hot Water boost for 60 mins)

[2020-08-31 07:30] twa127 commented on #384
Problem is in the nodes table id 26 status is NULL, should be Active, after changing this the zone_current_state table updates okay and boost indicator is shown

[2020-08-31 16:05] scottagecheeseandcrackers commented on #384
@twa127 - Bingo that fix did the trick - Boost icon now showing - last one to fix is the charts.

[2020-08-31 16:58] twa127 commented on #384
where are we now with the charts ?

[2020-08-31 17:14] twa127 commented on #381
Hi,

After using this feature for a bit I've come up with a revised version -

1. Allows individual selection of sunset override rather than applying globally to the zone
2. Enable the use of an offset value, to say turn on x minutes before sunset

What do you think ?

![sched6](https://user-images.githubusercontent.com/46624596/91747202-afd80800-ebb5-11ea-882d-d312e9454a32.JPG)

[2020-08-31 18:34] scottagecheeseandcrackers commented on #384
Last cache clear reset the graphs, but they seem to be still showing more than 24hours. Few sensors remain missing despite data in 'messages_in'. No sign of graphs in battery.

![SmartSelect_20200831-193135_Chrome](https://user-images.githubusercontent.com/16407242/91754169-e0716f00-ebc0-11ea-9ec1-050b25df1921.jpg)
![SmartSelect_20200831-193158_Chrome](https://user-images.githubusercontent.com/164

[2020-08-31 19:15] twa127 commented on #384
Battery graph problem is due to an error in the nodes table, the type value should be MySensor not MySensors

[2020-08-31 19:18] twa127 commented on #384
The data for the zone graphs comes from the zone_graphs table

[2020-08-31 19:38] twa127 commented on #384
Your zone_sensors table does not look correct, you have duplicate entries and sensors allocated to more than 1 zone eg id 34 and 39 are duplicates, id 42 allocates the same sensor (24-0) to a second zone

[2020-08-31 21:06] scottagecheeseandcrackers commented on #384
I have set up a ground floor zone - which uses the same sensor as the living room. (The hope original hope was that if I hit boost on this zone it would act as the overall controller - but must have all zones active for boiler to kick )  in either case zone id 33 and 34 are set not to appear in the graphs via the gui.

[2020-08-31 21:27] twa127 commented on #384
okay, have we fixed the battery graph ?

[2020-08-31 21:30] twa127 commented on #384
gateway.py should update the zone_graphs table which is used by chart_load.php to load the active zone graphs

[2020-08-31 21:43] scottagecheeseandcrackers commented on #384
Yep battery graph fixed with the MySensors typo.

[2020-08-31 22:06] scottagecheeseandcrackers commented on #384
Should I manually run 'gateway.py' to see if this fixes it?

[2020-09-01 00:35] pihome-shc commented on #381
@twa127 good thinking for individual zone, i think change line from Enable Sunset and set Offset in Minutes change it to Sunset & set Offset in Minutes. it looks very impressive.

[2020-09-01 00:36] pihome-shc commented on #384
@scottagecheeseandcrackers gateway.py runs in background anyway.

[2020-09-01 06:42] twa127 commented on #384
If I ran a query against the zone_graphs table you can see no entries for Master Bedroom and only old entries for Kitchen, these are the missing graphs over the last 24 hours. For some reason gateway.py is not updating the zone_graphs table for these 2 zones
![scott3](https://user-images.githubusercontent.com/46624596/91810946-a935a900-ec26-11ea-84df-b8d1ff3afd07.JPG)

[2020-09-01 06:55] twa127 commented on #384
Are you sure sensor ID 23 and 24 are set correctly in the zone_sensors table

1. Sensor 23 allocated to Master Bedroom and Living Room
2. Sensor 24 allocated to Ground Floor twice and Kitchen

[2020-09-01 07:09] twa127 commented on #384
Can you please let me know which nodes you have allocated to each zone

[2020-09-01 07:20] twa127 commented on #384
I went back to the database you posted pihome_2020-08-25_06-23-58.sql and the zone_sensors table looks much more sensible in this one
![scott4](https://user-images.githubusercontent.com/46624596/91814447-0bdd7380-ec2c-11ea-9bf1-4925ef1bcc89.JPG)

[2020-09-01 07:57] twa127 commented on #381
Okay, the basic idea was to make it similar to Coop selection. Now need to work out the backend to change from zone based to controller based

[2020-09-01 14:36] twa127 commented on #381
Please note the table format for schedule_daily_time and schedule_daily_time_zone has been changed for this update, also view schedule_daily_time_zone_view has been changed

[2020-09-01 15:47] twa127 commented on #384
I think your problem with the graphs displaying more than the last 24 hours is because gateway.py is failing to process the zone_graphs table where it deletes anything older than 24 hours., this is probably due to the errors in the zone_sensors table data.

[2020-09-01 22:05] scottagecheeseandcrackers commented on #384
Apologies for the delayed response. @twa127 - you were correct - more than 1 zone with the same sensor was causing the havoc. As soon as I deleted Zone_id 33 and 34, cleared previous graph data and cleared my cache everything looks right.

Dump file attached below - hopefully this is all the issues sorted. Thanks again for the assistance.

![GUI](https://user-images.githubusercontent.com/16407242/

[2020-09-02 06:30] twa127 commented on #384
no problem, glad its sorted

[2020-09-02 06:48] #384 closed

[2020-09-02 15:01] frogstar51 opened #388 "Graph colours"
Hi
Is it possible to have the colours of the graphs the same?
For example on my system at the moment
                                                               PiHome Temperature Graphs                     Sensor's Battery Graphs
Living Room Sensor 30 is Pink on the PiHome Temperature Graphs and Purple on the Sensor's Battery Graphs
Bedroom Sensor 21 is Green on the PiHome Temperature Graphs a

[2020-09-03 07:29] #381 closed

[2020-09-03 21:29] pihome-shc commented on #368
@twa127 are you finished with testing multi controller?

[2020-09-03 21:48] pihome-shc commented on #388
@frogstar51, rainbow function is defined is defined in [chart_batteryusage.php](https://github.com/pihome-shc/pihome/blob/master/chart_batteryusage.php) and [chart_load.php](https://github.com/pihome-shc/pihome/blob/master/chart_load.php)
the way this function generate colour for both charts isnt going to be in sync.
[code]

[2020-09-03 21:52] pihome-shc commented on #324
@twa127 have you tried [wifi thermostat](https://www.aliexpress.com/item/4000156447909.html?spm=a2g0o.productlist.0.0.201c5871xN4tu5&algo_pvid=b37d98b5-c03c-4a07-a927-6f40fa7f1146&algo_expid=b37d98b5-c03c-4a07-a927-6f40fa7f1146-18&btsid=0bb0622c15991697382151610e8f80&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_ ), these comes with esp chip

[2020-09-04 06:20] twa127 commented on #388
I might have a solution for this, testing at the moment

[2020-09-04 06:32] twa127 commented on #368
I've been using on my live system for a couple of weeks and all appears okay. Not yet done anything with the dummy zones, apart from thinking that it sounds like a good idea :-)

tested the data migration with @scottagecheeseandcrackers  last database post and all worked okay. It might be a good idea if I commit without the database changes initially, this way the database will not get changed bef

[2020-09-04 06:38] twa127 commented on #324
Look interesting, I'll did a bit deeper

[2020-09-04 11:18] twa127 commented on #388
Anybody want to give this a try, I don't have many battery nodes (functions.php goes in the st_inc directory).

Note the one limitation is where you have multiple sensors connected to a single node, in this case the battery graph colour will be the same as child_id 0

[charts.zip](https://github.com/pihome-shc/pihome/files/5174428/charts.zip)

[2020-09-04 12:16] frogstar51 commented on #388
Hi, just uploaded the files and all looks great thanks

[2020-09-04 12:54] twa127 commented on #388
great, glad it worked

[2020-09-04 21:17] pihome-shc commented on #388
@twa127 can you comity this change,

[2020-09-04 21:26] pihome-shc commented on #368
yes, leaving database for next round is good idea, do you need me to test anything or you can do pull request for this.

[2020-09-05 07:04] twa127 commented on #368
I've been running this version live for over a week so think it is good to go, I'll commit the the update later today

[2020-09-05 14:25] pihome-shc opened #391 "Record User e-mail and save it database"
as of today, we do not have any way of communicating with any user, all installation do call home once every day, i think this can be good addition to send updates to users on every new release etc.
**Solution:**
on login to PiHome  web interface user gets model alert to add email address if it is missing and this way we are sure to have communication channel.

[2020-09-05 17:27] twa127 commented on #388
Hi,

Noticed that the zone graphs are on showing the boiler active background colour. This is a bug I introduced back on 1st July, I'll fix in next commit.

[2020-09-06 01:05] pihome-shc commented on #391
this is just basic work, if backup_email is empty or invalid email it should give model
[Record User e-mail.zip](https://github.com/pihome-shc/pihome/files/5178944/Record.User.e-mail.zip)

[2020-09-06 10:58] twa127 commented on #391
why not use the email address from the user table

[2020-09-06 11:55] pihome-shc commented on #391
yes we can use that as well my last example was written while i was half asleep early morning :)

[2020-09-06 12:16] pihome-shc commented on #391
what do you think of following, its not anywhere near finished, still need to write saving part and validation isnt working for me,

header.php
[code]
footer.php
[code]

[2020-09-06 12:31] twa127 commented on #391
I'll graft in the code and have a play :)

[2020-09-06 12:46] twa127 commented on #391
if we used the user table, then probably no need to prompt for name as we could use 'fullname', also how about a 'No Thanks' button and I guess the header code would go in model.php

[2020-09-06 14:00] pihome-shc commented on #391
Yes I meant full name there, if model code goes into model.php it will slow down home screen and that is why weather model is in header.php,
We need users email addres to send email to PiHome users.

[2020-09-06 17:01] twa127 commented on #391
used your original idea for validation, which worked okay for me

function checkEmail($email) {
        if (!filter_var($email, FILTER_VALIDATE_EMAIL)) {
                return false;
        } else {
                return true;
        }
}

[2020-09-06 17:07] twa127 commented on #391
Instead of prompting for a username input, how about a message something like 'Please enter a valid Email Address for user - ' fullname from the user table

[2020-09-06 17:18] twa127 commented on #391
would onclick="update_user_email()" with associated request.js and db.php do the save job

[2020-09-06 20:22] pihome-shc commented on #391
Alert message instead of model? but that can be ignored by user whereas model is get display on every menu click. i tried this function works if email is missing but i save email in database it still shows up.

[2020-09-07 12:02] twa127 commented on #391
the validation worked okay for me ie no modal popup if a valid email address is present in user table

also got rid of the X close option in modat header by adding to sb-admin-2.css

.modal-header .close {
  display:none;
}

[2020-09-07 16:33] twa127 commented on #391
I think this works okay

**header.php**

<div id="user_email_Modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Missing e-mail address!!!</h4>
            </div>

[2020-09-07 16:57] twa127 commented on #391
Please give this a try

[user_email.zip](https://github.com/pihome-shc/pihome/files/5184118/user_email.zip)

[2020-09-07 21:28] pihome-shc commented on #391
@twa127 sorry for late, for some reason my PiHome do not like user user_email_address variable, i have to modify some variables to get this working on my installation, can you test these changes.

js
[code]
db.php
[code]

header.php
[code]

[2020-09-08 06:27] twa127 commented on #391
for some reason that does not work for me, not updating the database

[2020-09-08 07:15] pihome-shc commented on #391
Interesting, may be change variables to something meaning less

[2020-09-08 07:34] pihome-shc commented on #391
more change i forget in header.php

`<input type="submit" name="submit" value="<?php echo $lang['save']; ?>" class="btn btn-default btn-sm" onclick="update_email()">`

[2020-09-08 08:01] twa127 commented on #391
that worked okay for me

[2020-09-08 08:10] pihome-shc commented on #391
can you update your pull request to include this change, thank you for working on this.

[2020-09-08 09:37] twa127 commented on #391
Okay done, also added the fixes for chart_load.php and scheduling.php

[2020-09-08 17:09] pihome-shc opened #392 "Releases 1.77"
PiHome community always working hard to improve your smart home experience. Get the latest version for all of the available features. This release packed with some serious improvements and bug fixes.

# Highlights in This Release
There are over 100 changes to PiHome since Last release version 1.76, to name few of major changes:

#178 Fix for boiler and zone logs query
#387 Update to Sunset for Cat

[2020-09-08 17:11] pihome-shc commented on #391
@twa127 great work. new release 1.77 issue is opened just in case if i missed anything  #392

[2020-09-08 17:52] twa127 commented on #391
Hi,

The upgrade process should not include update_db.php at this point in time as we have not updated pihome_mysql_database.sql and MySQL_View.sql yet to avoid problems after running the data migration. If you execute update_db.php it will remove the changed made by migrate_db.php

[2020-09-08 18:16] pihome-shc commented on #391
Ok, if I remember correctly we updated database as well last time,

[2020-09-08 18:35] twa127 commented on #391
yep we did, running update_db.php before migrate_controller.php would be okay

[2020-09-09 21:13] pihome-shc commented on #392
@twa127 updated my dev. system and database migrated all good.

[2020-09-11 07:30] pihome-shc commented on #392
@twa127 when i setup new database it still requires migrate_controller.php, can these changes added to database for new setup so user don't need to run migrate_controller.php

[2020-09-11 07:36] #391 closed

[2020-09-11 07:40] pihome-shc commented on #388
any further work required on this or can this be closed ?

[2020-09-11 08:01] twa127 commented on #388
I think this is now fixex

[2020-09-11 08:03] twa127 commented on #392
I left the database changes out because it caused problems when we did the sensor split migration. I thought leave it for a couple of days for most people to implement, then put in the database and view changes,

[2020-09-11 10:11] baseline-s commented on #392
Hi, Upgraded from 1.75 and had the following errors:

Applying Updates to Database.
MySQL Database Error with Query ALTER TABLE `zone` DROP `sensor_id`;
:Cannot drop index 'FK_zone_nodes': needed in a foreign key constraint
MySQL Database Error with Query ALTER TABLE `zone` MODIFY CONSTRAINT `FK_zone_type_id` FOREIGN KEY (`type_id`) REFERENCES `zone_type` (`id`);
:You have an error in your SQL syn

[2020-09-11 10:26] twa127 commented on #392
Hi,

I guess you probably had the same issue as @scottagecheeseandcrackers, I would suggest going back to a copy of the database before the update, then -

1. run migrate_db.php
2. run migrate_controller.php

DO NOT run update_db.php at any point

[2020-09-11 10:53] baseline-s commented on #392
Thanks, that solved the zone issues. load average is exceptionally high now with mysql taking most of the cpu. I'll have to dig deeper to understand why this is so. Running this on an old ModelB.

[2020-09-11 12:56] twa127 commented on #392
yeah the load has crept up over the last few releases

[2020-09-12 00:36] #388 closed

[2020-09-12 01:59] #392 closed

[2020-09-13 11:47] twa127 opened #393 "Zones used only for temperature display"
Leading on from scottagecheeseandcrackers comment about having zones simply measuring temperature, what do you all think about being able to display temperature sensors without having to setup a 'dummy' zone. This could be achieved by -

- Having a new table - eg temperature sensors
- Creating a GUI to enter a valid node_id, child_id and name
- On the home screen display ant temperature sensors to

[2020-09-13 12:40] pihome-shc commented on #368
@twa127 anything else left to work on this issue?

[2020-09-13 12:46] pihome-shc commented on #368
have small issue, i created zone and then deleted it, it got purge 1 but zone is still there, i think cron/piconnect.php need some modifications to delete zone.

[2020-09-13 12:47] pihome-shc commented on #393
as of now we have zone enable checkbox and zone gets created same way i.e even if zone is only for monitoring it still have controller attached to it, instead of creating another table may be creating zone process need re-thinking

[2020-09-13 13:06] twa127 commented on #393
Hi,

Yes that is exactly how I use the system at the moment with the zone enable checkbox. My thinking is that these monitoring points are not really zones at all and perhaps should not be cluttering up the zone table and as you say they need to have a controller and other data allocated needlessly. This was why I was suggesting separating the temperature measuring points out to a separate table

[2020-09-13 13:07] twa127 commented on #368
I'll investigate

[2020-09-13 19:22] twa127 opened #395 "Piconnect"
Hi,

I'm a bit confused looking at piconnect.php, its function now appears to be table maintenance, perhaps the name is now not appropriate.

[2020-09-13 19:51] pihome-shc commented on #395
@twa127 yes you are right, at this time it is more of table maintenance. you are thinking to rename it?

[2020-09-13 20:03] twa127 commented on #395
yes perhaps but maybe the sequence could be done in db.php ie rather than setting purge in db.php why not do the deletions

[2020-09-13 20:06] pihome-shc commented on #395
yes but once PiConnect become available to general public we dont have to modify main software hence leaving this delete in piconnect.php file.

[2020-09-13 20:12] twa127 commented on #395
ah, so would you prefer to leave it as it is for now?

[2020-09-14 20:04] pihome-shc commented on #395
yes, better to leave it as it is.

[2020-09-14 20:46] twa127 commented on #395
Okay, I'll close this issue

[2020-09-14 20:46] #395 closed

[2020-09-16 14:23] twa127 commented on #393
I've progressed this a bit further -

1. Added an Add Sensor option to the One Touch Menu
2. Modified Zone Add/Edit to use a single field to select sensor by name
3. Changed the home screen to display temperature sensors not attached to a zone on the left of the boiler tile and before any add-ons
4. Changed boiler.php work with the new format zone_sensors table
5. Created migrate_sensors.php to cr

[2020-09-17 15:54] twa127 commented on #393
Moved on again, now added a GUI for the Temperature Sensors, it can be found in the Node and Zone Configuration settings menu. I've moved the original Sensors option to the Status menu as I thought it filled a bit better here. The GUI works a bit like the Zones option.

![sensor3](https://user-images.githubusercontent.com/46624596/93495030-9816b880-f905-11ea-87a4-4367501aa4b0.JPG)

Although it nee

[2020-09-17 15:55] aszumski opened #397 "Upgrade to 1.77"
I have problem updating SQL.
Firs t I updated running
php migrate_controller.php
php update_db.php
that messed it up tottaly
below database that was created during update_db

[pihome_2020-09-17_15-44-45.zip](https://github.com/pihome-shc/pihome/files/5240320/pihome_2020-09-17_15-44-45.zip)

then reversed to some old backup I had

[pihome_2020-06-17_00-33-53.zip](https://github.com/pihome-shc/pihom

[2020-09-17 19:33] pihome-shc commented on #397
@aszumski you can have to update database first, and then you can run migrate_db.php and migrate_controller.php and this should work, i will try to work on your database later.

[2020-09-17 19:35] pihome-shc commented on #368
received email from one PiHome user.

Hi
In general, after the reinstalling all works, however there are some issues
1) In zone setup, there are 2 records of every zone sensor; it was only one at the beginning but when I corrected the names of every zone because of incorrect LV characters, double record has been created
![image](https://user-images.githubusercontent.com/33334232/93518764-2fd7cf00-

[2020-09-17 19:37] pihome-shc commented on #393
@twa127 i will give it try later and come back to you. first impression looks nice.

[2020-09-17 21:19] twa127 commented on #368
I'm guessing that something has gone wrong with the migration process, can you post a copy of the database please

[2020-09-17 21:29] pihome-shc commented on #368
Migration worked ok but this issue is after editing zone

[2020-09-17 21:44] twa127 commented on #397
Hi,

I tried loading your pihome_2020-06-17_00-33-53.zip, then ran migrate_db.php, then ran migrate_controller.php and the database looked okay.

Make sure you have the current copies of migrate_db.php, migrate_views.sql, migrate_controller.php and migrate_controller_view.sql

1. Re-load database from pihome_2020-06-17_00-33-53.zip
2. Run migrate_db.php
3. Run migrate_controller.php

DO NOT run up

[2020-09-17 21:50] twa127 commented on #368
Okay so all looked okay after migration, then a zone was edited and we ended up with errors.

How was the zone edited, ie what was changed ?

[2020-09-17 22:07] pihome-shc commented on #368
user only changed the name of zone.
1)	In zone setup, there are 2 records of every zone sensor; it was only one at the beginning but when I corrected the names of every zone because of incorrect LV characters, double record has been created

[2020-09-17 22:39] twa127 commented on #368
okay, I'll have to backout my latest developments to investigate

[2020-09-17 22:47] twa127 commented on #368
Managed to reproduce the error, I'll investigate

[2020-09-18 07:57] twa127 commented on #368
Committed a fix, please let me know if this resolves the issue

[2020-09-18 16:35] twa127 commented on #393
A little tweak to allow being able to choose whether a temperature sensor is displayed on the home screen

![sensor4](https://user-images.githubusercontent.com/46624596/93622546-3faeec00-f9d5-11ea-9dce-37842921f57c.JPG)

[temperature_sensors.zip](https://github.com/pihome-shc/pihome/files/5246824/temperature_sensors.zip)

[2020-09-18 16:56] pihome-shc commented on #397
@aszumski did you fix your issue?

[2020-09-18 16:57] pihome-shc commented on #393
@twa127 do i have to run migrate_sensor.php as well?

[2020-09-18 17:02] baseline-s commented on #397
I had the same problem when I upgraded and had to fix zone_controllers and zone_sensors by hand. They weren't populated during the migrate script. I could not get the above sequence to work with my backup db.

[2020-09-18 17:05] twa127 commented on #393
yes because I've added a new field to the temperature_sensors table, you need to go back to the database you had before running migrate_sensors.php and the re-run migrate_sensors.php

[2020-09-18 17:10] twa127 commented on #397
@baseline-s can you post a copy of your backup database please and I'll try to reproduce your issue

[2020-09-18 17:16] pihome-shc commented on #393
ok i did test and migration worked ok, but i deleted all deactivated zone and try to add again and i get following error.

![image](https://user-images.githubusercontent.com/33334232/93625875-894e0580-f9da-11ea-936d-c6fb572997fd.png)

three suggestions:
1. also add disabled delete button for all in use sensors as well makes it look nice on gui.
2. add sensors last report time as it is very helpful

[2020-09-18 17:18] pihome-shc commented on #393
have error in boiler.php

[code]

[2020-09-18 17:27] baseline-s commented on #397
[pihome_2020-09-11_10-52-17.tar.gz](https://github.com/pihome-shc/pihome/files/5247130/pihome_2020-09-11_10-52-17.tar.gz)

Thanks, please let me know if you find anything odd. I upgraded the code to the latest version, tried all upgrade/migrate sequences which were all unsuccessful. Had a look at the migrate scripts and replicated the tables that were missing. All seems in order now apart from the

[2020-09-18 17:56] twa127 commented on #397
Thanks for the database, looking at the zone table fields
![test3](https://user-images.githubusercontent.com/46624596/93628952-5c502180-f9df-11ea-81fe-bbadcd5a0db2.JPG)

The controller fields are missing and hence migrate_db.php cannot function correctly. The migration process assumes that the zone table is in the original format
![test2](https://user-images.githubusercontent.com/46624596/93629101

[2020-09-18 18:07] baseline-s commented on #397
Thanks, I had originally run update_db as per release notes. It's quite possible that this backup was done post that update. I've dumped all the others after I got this running again.

[2020-09-18 18:16] twa127 commented on #393
Okay fixed the error in sensors.php.

Sorry not too sure about points 1-3, I see that sensors menu as for displaying status, so would probably remove the delete button altogether and use the sensors configuration GUI to delete, this also shows the unallocated sensors.

I'll look at boiler.php, can you post the database please
[sensor.zip](https://github.com/pihome-shc/pihome/files/5247452/sensor.z

[2020-09-18 18:31] twa127 commented on #393
ah light bulb moment 1-3 rather than an empty cell show a disabled delete icon, same for the Show tickbox :-) Not too sure if I can make enough table space to show the last seen time

[2020-09-18 18:52] twa127 commented on #397
These radical changes to the database structure have made the update process difficult, it might be better to move the database files on github back one release and then update_db.php followed by migrate_db.php followed by migrate_controller.php should always work

[2020-09-18 19:35] twa127 commented on #393
![sensor5](https://user-images.githubusercontent.com/46624596/93638019-7cd3a800-f9ee-11ea-84ab-4f6b10adab0a.JPG)

[2020-09-18 19:41] pihome-shc commented on #393
Few more suggestions
Moving edit and delete in one column can same space.
Change Node child id to child id.
For last seen: how about second line under sensors name? May be bit small text.

[2020-09-18 20:15] aszumski commented on #397
In my case sensors table is empty after running procedure described.

[2020-09-18 20:53] aszumski commented on #397
Probably my old database didn't have it but boiler table is missing overrun column,
and I don't have network_settings table that boiler php is looking for.

[2020-09-18 20:56] twa127 commented on #397
loaded pihome_2020-06-17_00-33-46.sql, ran migrate_db.php, then ran migrate_controller.php

Tables created as shown
![z1](https://user-images.githubusercontent.com/46624596/93644332-af36d280-f9f9-11ea-893d-def6e5115d14.JPG)
![z2](https://user-images.githubusercontent.com/46624596/93644347-b5c54a00-f9f9-11ea-9956-d2c3b47c53df.JPG)
![z3](https://user-images.githubusercontent.com/46624596/93644361-bc

[2020-09-18 21:06] aszumski commented on #397
Mine zone_sensors is empty, tried it couple of times,
even dumped all the views and tables manually to make sure there are no leftovers, import only dumps the tables that are in the import file.

[2020-09-18 21:15] twa127 commented on #397
very strange, can you please check you are using the correct version of migrate_db.php because you should not be getting
PHP Notice: Undefined variable: max_operation_time in /var/www/MySQL_Database/migrate_db.php on line 204
multiple times when running migrate_db.

The current version of migrate_db.php does not have any reference to max_operation_time

[2020-09-18 21:21] aszumski commented on #397
line 204 from github:

                        $query = "INSERT INTO `zone_sensors`(`sync`, `purge`, `zone_id`, `max_c`, `hysteresis_time`, `sp_deadband`, `sensor_id`, `sensor_child_id`)  VALUES ('0', '0', '{$id}','{$max_c}','{**$max_operation_time**}','{$hysteresis_time}','{$sp_deadband}','{$sensor_id}','{$sensor_child_id}');";

has reference to max operation time

[2020-09-18 21:28] twa127 commented on #397
That's a bug, can you please re-run the migration using the attached
[migrate_db.zip](https://github.com/pihome-shc/pihome/files/5248294/migrate_db.zip)

[2020-09-18 21:44] aszumski commented on #397
OK that generated zone_sensors, but still I have some issues probably because database I've migrated didn't have latest format.
I can see schedules in database, but not on schedules screen,
I can see holidays, and if I edit it I'm missing sunset column.

What's network_settings table structure and what data should be there?

Is there way to align this database with what's required.

Would running

[2020-09-18 21:50] twa127 commented on #397
Please try in the following order -

1. load pihome_2020-06-17_00-33-46.sql
2. run migrate_db.php
3. run update_db.php
4. run migrate_controller.php

[2020-09-18 21:54] twa127 commented on #397
The network settings table is mainly to support Tasmota devices and all you really need is your local routers gateway address for wlan0

[2020-09-18 22:16] aszumski commented on #397
@twa127  thanks for help
That seems to be OK now
I only get some foreign keys errors piconnect and piconnect_logs during update.

But for some reason still can't get rid of that email prompt.
Need to put it into user database manually.

[2020-09-18 22:29] aszumski commented on #397
I would advise to add database backup to migrate_controller script before changing database structure (same as migrate and update db),
that way if you run it first and mess up your database (as I did) you at least have latest backup.
I had to roll back couple of months.

[2020-09-19 07:09] twa127 commented on #397
@aszumski good point added the backup as suggested, do you need anymore help fixing the database or is all good now?

[2020-09-19 07:38] twa127 commented on #393
How about this to cover the first 2 points
![sensor6](https://user-images.githubusercontent.com/46624596/93661859-34020a80-fa53-11ea-92d1-ce45247f60bf.JPG)
[model.zip](https://github.com/pihome-shc/pihome/files/5249287/model.zip)

[2020-09-19 17:22] pihome-shc commented on #393
@twa127 looks good, question where sensors name comes from? i.e in your image you have New Zone and Zone name not allocated.

[2020-09-19 18:02] twa127 commented on #393
Hi

The Sensor Name comes from the temperature_sensors table and can be set to whatever you want to identify the location of the sensor. If the sensor is being used by a zone, then the Zone Name comes from the zone table, if not being used by a zone, then the Zone Name will be 'Not Allocated'.

[2020-09-20 07:23] twa127 commented on #393
Attached latest version with code for the graphs. If a sensor is unallocated it will be displayed by sensor name, if allocated to a zone it will be displayed by zone name.

@pihome-shc do you still have a problem with boiler.php ?

[temperature_sensors.zip](https://github.com/pihome-shc/pihome/files/5251254/temperature_sensors.zip)

[2020-09-20 10:29] pihome-shc commented on #393
on gui all looks ok here is output for boiler.php

[code]

[2020-09-20 10:38] aszumski commented on #397
@twa127  thanks for the help, again.
Everything seems to be working OK.

[2020-09-20 10:38] #397 closed

[2020-09-20 11:53] twa127 commented on #393
Can you let me have a dump of your database please, so I can reproduce the error

[2020-09-20 12:37] pihome-shc commented on #393
this is my current db without any changes

[pihome_mysql_2020-09-20_11-26-27.zip](https://github.com/pihome-shc/pihome/files/5251662/pihome_mysql_2020-09-20_11-26-27.zip)

[2020-09-20 13:14] twa127 commented on #393
This should fix it :-)
[boiler.zip](https://github.com/pihome-shc/pihome/files/5251700/boiler.zip)

[2020-09-20 21:17] pihome-shc commented on #393
boiler.php error is fixed now, i have two wired sensors connected to my rpi and they are working ok, and records are in nodes table but i can not see them under setting->sensors

[2020-09-20 21:52] twa127 commented on #393
job for tomorrow :-))

[2020-09-20 22:07] pihome-shc commented on #393
here is the database after some cleanup work. also graph wasnt working after your changes.

[pihome_mysql_2020-09-20_23-04-06.zip](https://github.com/pihome-shc/pihome/files/5252789/pihome_mysql_2020-09-20_23-04-06.zip)

[2020-09-21 07:25] twa127 commented on #393
Hi,

I can see your wired sensors okay
![sensor14](https://user-images.githubusercontent.com/46624596/93741258-fb456b00-fbe3-11ea-8251-1426bcb384df.jpg)

[2020-09-21 07:46] pihome-shc commented on #393
This is odd, did you update my last Database? Reason: i have removed disabled zone and left the sensors and I wasn’t able to see them

[2020-09-21 10:58] twa127 commented on #393
The problem with your latest database is that the migration process uses the zone table as the basis for building the initial migrated temperature_sensors table, using the status field to determine if the senor is allocated. I did it this way as I could not use the nodes table to identify sensors by child id, as a single node table entry may equate to multiple sensors. This is also why the tempera

[2020-09-21 13:56] twa127 commented on #393
Did you update gateway.py, needed for graphs ?

[2020-09-21 16:52] twa127 commented on #393
Fixed the GPIO Sensor Graphs
[gpio_ds18b20.zip](https://github.com/pihome-shc/pihome/files/5256856/gpio_ds18b20.zip)

[2020-09-21 17:56] twa127 commented on #393
Update for charts
[charts.zip](https://github.com/pihome-shc/pihome/files/5257232/charts.zip)

[2020-09-21 19:03] pihome-shc commented on #393
reason i send database after cleanup was so we have way to see sensors under setting. i.e what if i connect new gpio sensors or power on new mysensors temperature sensor?

i copied all files from your zip file, but i didnt kill gateway.py process to get new version running.
homelist.php only related to my setup? i haven't made any changes to homelist.php

i m updating with your recent zip files an

[2020-09-21 19:38] twa127 commented on #393
Hi,

If you add nodes which automatically create new nodes table entries, then at present you need to manually add new sensors.  I guess it is possible to add temperature_sensors table entries at the same time in gateway.py and gpio_ds18b20.py

new homelist.php is a bug fix which I found using your latest database which had no add-ons

[2020-09-21 19:40] pihome-shc commented on #393
add sensor -> sensor.php is missing.

[2020-09-21 19:48] twa127 commented on #393
attached latest copies of everything
[update.zip](https://github.com/pihome-shc/pihome/files/5257808/update.zip)

[2020-09-21 20:03] twa127 commented on #393
ah see what you mean, I'll re-fix model :-)

[2020-09-21 20:10] twa127 commented on #393
[model.zip](https://github.com/pihome-shc/pihome/files/5257910/model.zip)

[2020-09-21 20:38] pihome-shc commented on #393
i added sensors now, and i see both entries in temperature_sensors without zone, this will create problem with piconnect

![image](https://user-images.githubusercontent.com/33334232/93818635-878e7700-fc52-11ea-8cc7-bbd06c3b17ba.png)

[2020-09-21 20:44] twa127 commented on #393
what's the issue with piconnect, the NULL zone_id ?

[2020-09-21 20:46] pihome-shc commented on #393
yes, PiConnect wouldn't work with Null values,

[2020-09-21 20:52] twa127 commented on #393
okay how about using zone_id = 0 to indicate an un_allocated zone ?

[2020-09-21 21:21] pihome-shc commented on #393
but there is nothing on other end of zone_id=0

[2020-09-21 21:27] twa127 commented on #393
yes if the temperature sensor is un-allocated then it can't have a valid zone_id, is that going to screw piconnect ?

[2020-09-22 10:41] twa127 commented on #393
Attached changed files for a zone_id = 0 version, does this resolve the piconnect problem ?
[Zone0.zip](https://github.com/pihome-shc/pihome/files/5260807/Zone0.zip)

[2020-09-22 17:04] twa127 commented on #393
Hi

Question about Zone Delete, from what I can see, the process is -

1. db.php sets purge=1 in all the zone related tables
2. the cronjob piconnect.php runs every minute and deletes the records from the same tables where purge=1

What's the reason for simply deleting the relevant records in db.php ?

[2020-09-22 18:49] pihome-shc commented on #393
Reason to keep deleting of records in PiConnect is to offer remote management of PiHome once PiConnect becomes available for general public. Hence sync set to 0 for sync data with PiConnect.

[2020-09-22 19:16] twa127 commented on #393
I understand, but can cause a potential problem, for example zone_log records purge set to 1, then boiler.php adds another record before piconnect,php runs and the zone deletion fails do FK constraint

[2020-09-22 19:23] pihome-shc commented on #393
That is why it is important to have correct delete sequence in piconnect.php which is correct at the moment.

[2020-09-22 19:28] uldjan commented on #368
I have upgraded the PiHome by using commands
cd /var/www/
git pull origin
However all 3 of the reported issues still persists. Here is a backup:
[pihome_mysql_2020-09-22_22-12-25.zip](https://github.com/pihome-shc/pihome/files/5263563/pihome_mysql_2020-09-22_22-12-25.zip)

[2020-09-23 07:00] twa127 commented on #368
Can you please post a copy of your database from before the update

[2020-09-23 07:59] twa127 commented on #368
The zone_sensors table is causing some of your problems
![sensor15](https://user-images.githubusercontent.com/46624596/93983615-b43dae00-fd7a-11ea-825e-64a1ffc24254.JPG)

As you can see there are duplicate entries for zone_id 33,34 and 35, please try deleting id 33, 34 and 35 or 38, 39 and 40 depending which ones have the correct value for sp_deadband

[2020-09-23 09:54] twa127 commented on #393
That's not the issue, if -

db.php sets Purge = 1, then piconnect.php runs before boiler.php - OK
db.php sets Purge = 1, then boiler.php runs before piconnect.php and boiler.php does not INSERT new zone log record - OK
db.php sets Purge = 1, then boiler.php runs before piconnect.php and boiler.php does INSERT new zone log record - FK constraint error

If piconnect.php always runs before boiler.php

[2020-09-23 10:00] twa127 commented on #393
It would appear
![crontab](https://user-images.githubusercontent.com/46624596/93997610-80b74f80-fd8b-11ea-85a7-9c66354c7715.JPG)

So we have boiler.php starting before piconnect.php, without piconnect.php waiting for boiler.php to finish

[2020-09-23 19:13] uldjan commented on #368
Hi @twa127
I have deleted the id's 38, 39 and 40. Issues 1 and 2 then resolved. Thank you very much for your advice!
However, the issue 3 still persists.

[2020-09-23 19:48] twa127 commented on #368
Hi,

The problem is in table zone_type, where id=3 type value should be Water and not Hot Water
![sensor16](https://user-images.githubusercontent.com/46624596/94062082-2693aa00-fdde-11ea-8f75-8bbf99e325ad.JPG)

[2020-09-23 19:56] twa127 commented on #368
Hi Waseem,

Installing the application and database on the Orange Pi One was not too stressful, the hardware interface will require some work as GPIO python will need to be changed, same with UART. Also the pin header is rotated 180 degrees, so the hat would need modifying.

Setting up the WiFi is very easy as Armbian has a nice command line 'nmtui-connect' which allows selection by SSID

regards

[2020-09-23 19:57] twa127 commented on #368
opps sorry wrong recipient

________________________________
From: Terry Adams Software Systems
Sent: 23 September 2020 20:56:49
To: pihome-shc/pihome; pihome-shc/pihome
Cc: Mention
Subject: Re: [pihome-shc/pihome] Zone with more than 1 controller (#368)

Hi Waseem,

Installing the application and database on the Orange Pi One was not too stressful, the hardware interface will require some work as

[2020-09-24 19:42] uldjan commented on #368
Hi @twa127,
Zone type change resolved the issue.
Thank you very much!

[2020-09-24 19:51] uldjan commented on #368
@twa127
I'm not sure if this is the right place for this issue...  when I look on the temperature graphs of last 24 hours, the time zone on x axis is not the same with time for the drawn chart. Can you suggest where to set the time zone for the x axis?
Thanks!
![Ekrānuzņēmums 2020-09-24 224453](https://user-images.githubusercontent.com/71520325/94193044-7e9edf00-feb8-11ea-81cf-2e6d0ff7539d.png)

[2020-09-24 23:42] pihome-shc commented on #368
@uldjan
Shaun Jepson commented on following post while back, can you try this, file name is changed to chart_load.php

http://www.pihome.eu/2020/05/24/pihome-version-1-75/

Comment:
Hello Kevin,

I note that the time axis of all the charts shows up in UTC time. This is not a big issue for you based near Dublin as for six months of the year you are on UTC and the other 6 months just one hour differ

[2020-09-25 09:39] twa127 commented on #368
Hi,

The line numbers to change in chart_load.php are 135, 148 and 159

[2020-09-25 18:08] uldjan commented on #368
Hi @pihome-shc , @twa127
The issue with time zone of x-axis resolved!
Thank you very much!

[2020-09-25 21:01] uldjan commented on #368
Hi @pihome-shc
On current lv.php was missing 52 records compared to en.php.
I have added and translated them. Please include it in new installations, otherwise selecting the Latvian language will lose the dashboard and get the notice "This page isn’t working".

[lv.zip](https://github.com/pihome-shc/pihome/files/5285379/lv.zip)

[2020-09-25 21:39] pihome-shc commented on #368
@uldjan thank you,

[2020-09-25 21:39] pihome-shc commented on #368
@twa127
your recent change added extra }
i m getting error on migrate controller

[code]

[2020-09-29 18:10] scottagecheeseandcrackers commented on #324
Just a thought... I have a pihome zone set up for my child's bedroom. I also have a Sonoff s20 in the same room with a fan connected. I have set up a simple action in Node-red to query the zone temp every 30 minutes and turn in the fan if the temp exceeds a set value. And vice versa when the lower threshold is reached.

My plan is flash the S20 with tasmota.

If I set this device in pihome in tasm

[2020-09-29 18:54] twa127 commented on #324
Hi,

Never used the night climate feature but if you create a new zone type 'Fan' as a category 1 type and then setup a new zone using the relevant sensor and a Tasmota controller could that do what you want if you configure a night climate schedule for the new zone

[2020-10-01 17:30] aszumski opened #406 "Web Server Issue"
Hi, I have web server issue after last update.
When I connect to the pihome web I can see login screen but then when I hit login I get HTTP error 500.
Then if I try to reload I 'm getting HTTP error 500.
If I clear cache I can get to the login page, but then I get same problem.

Initially it happened on my wife's mobile, now it's the same on mine.
Trying different browsers etc.

It only works on m

[2020-10-01 20:25] pihome-shc commented on #406
@aszumski i have seen this issue, with one customer but for me quick fix was to export database and copy img file and import database this user was on remote location so i couldn't do much troubleshooting. and there wasnt anything in logs either.

[2020-10-01 21:59] aszumski commented on #406
@pihome-shc  it's very strange, If i roll back to release 1.75 it loads home.php OK
of course this release is not compatible with my current database.
i have same issue with 1.76 as with the latest code.

[2020-10-02 11:52] aszumski commented on #406
restored latest image and I have the same issue.
after dhcp changed IP for PI it doesn't even work with my PC.

can you guys try to close all tabs in your browser clear cache and see if you have issue.
I suspect I had something cached in the browser to allow me to connect OK.

[2020-10-02 14:34] aszumski commented on #406
After restoring 1.77 image restoring database and upgrading system in phpmyadmin I get :

`1:
Warning in ./libraries/sql.lib.php#613
count(): Parameter must be an array or an object that implements Countable

Backtrace

./libraries/sql.lib.php#2128: PMA_isRememberSortingOrder(array)
./libraries/sql.lib.php#2062: PMA_executeQueryAndGetQueryResponse`

But everything seems to work OK, Seems like some

[2020-10-10 12:37] sandreialexandru commented on #223
I've managed to get to the point where I cannot merge boostrap.min.css. I have done some testing and untill now, it is working with only two css files (excluding fonts and icons css). The web interface is a bit faster and I did not find any broken elements. Please help with some testing.

Replace **bootstrap.min.css** and copy **pihome_css.css** into /var/www/css
Edit header.php . Replace
[code]
w

[2020-10-10 17:25] sandreialexandru opened #407 "Schedule and override not working"
Scenario:
-latest image of PiHOME
-update&upgrade OS
-update PiHOME from Github
-delete default zone and create new
-add schedule

Schedule gets inserted into database but running /cron/boiler.php I get **_Zone: Home Stop Cause: No Schedule - Target C:0 Zone C:24.70_**
Schedule turns active on web UI but boiler does not turn on.
Activating boost and running /cron/boiler.php triggers the relay to o

[2020-10-11 11:13] sandreialexandru opened #408 "Add/edit schedule max temp"
Upper limit of the slider for setting schedule temperature should be the maximum temperature of the zone (DB zone_sensors > max_c)

[2020-10-11 17:24] sandreialexandru commented on #407
When editing a zone, values from Maximum Temperature and Hysteresis Time get updated into the database, but not on the web UI. Whatever value I input they remain 25 and 3

[2020-10-11 18:12] sandreialexandru opened #409 "Longer time needed to run boiler, heating zone or lamp zone"
[code]

Change max_operation_time from tinyint to smallint so that a value higher than 127 could be stored into database

[2020-10-12 16:35] pihome-shc commented on #223
@sandreialexandru
i will test this later and report back the update.

[2020-10-12 18:52] pihome-shc commented on #406
@aszumski, i think i have pin pointed this issue now,
i have same issue and its even worst for me, after re-writing img to sd card and restoring database it wouldnt open web page for me, only login page and after that nothing black screen on mobile and on computer browser error 500 in [session.php](https://github.com/pihome-shc/pihome/blob/master/st_inc/session.php) file if i comment out following

[2020-10-13 06:56] sandreialexandru commented on #409
I guess that the issue is now resolved with @twa127 's  [42e72ee](https://github.com/sandreialexandru/pihome/pull/1/commits/42e72ee22fd14a86b704e1cf7702b5ab3cd46fb5) pull request.

[2020-10-13 09:05] sandreialexandru commented on #407
So I upgraded phpmyadmin to version 5.0.2 and this strangely resolved the issue of schedule not working, but the problem of values not getting updated from database when editing a zone still remains

[2020-10-13 09:07] #409 closed

[2020-10-13 09:20] sandreialexandru commented on #408
In scheduling.php, after line 327 insert this

[code]
then change `$max = xx` to $`max = $zs_max`

This solution rezolves the problem only when editing schedule or night schedule, but when trying to add a schedule, the slider goes up to 100

[2020-10-13 12:33] twa127 commented on #407
Hi,

If you change the value for max_c in the database using phpmyadmin then you will need to refresh the settings.php web page before the change is shown.

[2020-10-13 12:50] sandreialexandru commented on #407
@twa127 I have even deleted browsing history, cache and cookies.
If I edit a zone and change the value of  maximum temperature then it gets updated into the database, but if I go back to re-edit the same zone the web UI shows 25 even if the value in the database is 30

[2020-10-13 13:51] twa127 commented on #407
okay I'll investigate further

[2020-10-13 14:07] sandreialexandru commented on #408
Hello,
I think it is a bit weird that we can set the slider up to 30, but the maximum allowed temperature of the zone is 25 (numbers are hypothetical). My solution to this, was to get max_c from database into a variable called zs_max and replace the values of $max at lines 332, 335, 338, 341 with $zs_max

[2020-10-13 14:28] twa127 commented on #407
Committed a fix

[2020-10-13 14:29] twa127 commented on #408
@pihome-shc how do you want to hand this issue ?

[2020-10-13 14:45] sandreialexandru commented on #407
Thank you!

[2020-10-13 16:51] sandreialexandru opened #413 ""Live temperature""
I was thinking about how could a regular thermostat behavior could be implemented, like setting the temperature on the go, no boost, no override or any schedule.

A slider, visible on the zone pop-up window that could update the target temperature, for that zone, in the database or insert a new value and then boiler.php does the job. The hierarchy (boiler.php line 483) could be like it is now and

[2020-10-14 12:24] sandreialexandru commented on #408
What is your opinion on this matter @pihome-shc ?

[2020-10-14 19:34] scottagecheeseandcrackers commented on #193
FYI - the Google smart home - homebridge integration was updated earlier today. The latest release now supports temperature sensors. Link to latest release - [https://github.com/oznu/homebridge-gsh/releases/tag/v2.0.0] .

I've just updated mine - and I can now ask google what temperature each zone is. Thanks again @twa127 for the hard work.

[2020-10-14 22:01] pihome-shc commented on #408
@sandreialexandru right now we have max value of slider hard coded taking this value from zone max value ould work as well, dont mind if you want to set this, also change text on zone creation to notify user about this.

[2020-10-14 22:03] pihome-shc commented on #393
@twa127 as soon as records are marked with purge 1 it gets ignored, everywhere. and then what ever the delete sequence it will work

[2020-10-14 22:08] pihome-shc commented on #413
@sandreialexandru you mean set that temperature for ever? or it would have some time limit?

[2020-10-14 22:14] sandreialexandru commented on #413
Having a time limit would only duplicate the functionality of boost. The temperature set with the slider would be target temperature until boost, night climate, override or schedule comes into action. Basic thermostats don't have schedules, but sometimes there is a need to adjust the temperature on the go.

[2020-10-14 22:22] sandreialexandru commented on #408
I am aware of the fixed value for the $max , but changing the value to zone's max temperature would improve the logic. Is it just me that thinks it is strange seeing the slider go higher than the maximum allowed temperature for the zone?

[2020-10-14 22:29] pihome-shc commented on #413
i was only thinking how to limit the run time, setting the X temperature for a zone until next schedule/boost/night climate kick in and stop the slider temperature. I think you need another table for this to function.

[2020-10-14 22:30] pihome-shc commented on #408
i agree, it will make more sense if we set the slider's limit to zone max temperature, having hard coded slider max value just overlooked.

[2020-10-14 22:31] sandreialexandru commented on #413
Maximum run time for the zone could be the limit

[2020-10-14 22:35] sandreialexandru commented on #408
Maybe @twa127  could help. I'm not an expert at php/sql .
My only solution to this is :
_In scheduling.php, after line 327 insert this

$query = "SELECT * FROM zone_sensors WHERE id = {$row['zone_id']} LIMIT 1";
$result = $conn->query($query);
$zs_temp = mysqli_fetch_array($result);
$zs_max = $zs_temp['max_c'];

then change $max = xx to $max = $zs_max

This solution rezolves the problem only when

[2020-10-14 22:47] sandreialexandru commented on #327
[code]

This is my approach to a python script that does a better job at scheduling than cron.
Having a GUI for management requires values (time, job command, command output...) to be stored into variables that get updated from the database.  The python script can then be run at startup with rc.local
What do you think?

[2020-10-14 23:03] pihome-shc commented on #193
@scottagecheeseandcrackers thank you for the update.

[2020-10-15 08:38] twa127 commented on #408
Okay leave it with me and I'll see what I can come up with

[2020-10-15 14:51] twa127 commented on #408
I've committed an update, the max temperature is now set to the zone value for max_c, the minimum slider value is still hardcoded in scheduling.php. Note: Requires the Views to be updated.